




<link rel='stylesheet' id='theplus-front-css-css' href='/assets/css/theplus-post-167.min.css?ver=1620373758' media='all' />
<link rel='stylesheet' id='elementor-post-167-css' href='/assets/css/post-167.css?ver=1620373758' media='all' />
<link rel='stylesheet' id='elementor-post-680-css'  href='/assets/css/post-2193.css?ver=1675733600' media='all' />
<link rel='stylesheet' id='elementor-post-5910-css'  href='/assets/css/blog.css' media='all' />





<a class="skip-link screen-reader-text" href="#content" role="link" title="Skip to content">Skip to content</a>


  <div data-elementor-type="header" data-elementor-id="34" class="elementor elementor-34 elementor-location-header" data-elementor-settings="[]">

  </div>
  <div id="content" class="site-content">
    <div class="ast-container">
      <div data-elementor-type="archive" data-elementor-id="2193" class="elementor elementor-2193 elementor-location-archive" data-elementor-settings="[]">
        <div class="elementor-section-wrap" id="scroll">
          
            <section class="elementor-section elementor-top-section elementor-element elementor-element-d425301 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="d425301" data-element_type="section">
                <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-cd4ac1b" data-id="cd4ac1b" data-element_type="column">
                        <div class="elementor-widget-wrap"></div>
                    </div>
                    <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-396c684" data-id="396c684" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-830994e elementor-search-form--skin-classic elementor-search-form--button-type-icon elementor-search-form--icon-search elementor-widget elementor-widget-search-form" data-id="830994e" data-element_type="widget" data-settings="{&quot;skin&quot;:&quot;classic&quot;}" data-widget_type="search-form.default">
                                <div class="elementor-widget-container">
                                    <form class="elementor-search-form" role="search" action="https://icands.com" method="get">
                                        <div class="elementor-search-form__container">
                                            <input placeholder="Search by post title, tag" class="elementor-search-form__input" type="search" id="searchInput" title="Search" value="" (keyup.enter)="searchPost()">
                                            <button class="elementor-search-form__submit" type="button" title="Search" aria-label="Search" (click)="searchPost()">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                                <span class="elementor-screen-only">Search</span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-7d66e45 elementor-grid-1 elementor-grid-tablet-1 elementor-posts--thumbnail-top elementor-grid-mobile-1 elementor-widget elementor-widget-archive-posts" data-id="7d66e45" data-element_type="widget" id="scroll" data-settings="{&quot;archive_custom_alternating_templates&quot;:&quot;yes&quot;,&quot;archive_custom_columns&quot;:&quot;1&quot;,&quot;archive_custom_columns_tablet&quot;:&quot;1&quot;,&quot;archive_custom_columns_mobile&quot;:&quot;1&quot;,&quot;archive_custom_row_gap&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:35,&quot;sizes&quot;:[]}}" data-widget_type="archive-posts.archive_custom">
                                <div class="elementor-widget-container">
                                    <div class="ecs-posts elementor-posts-container elementor-posts   elementor-grid elementor-posts--skin-archive_custom" data-settings="{&quot;current_page&quot;:1,&quot;max_num_pages&quot;:1,&quot;load_method&quot;:&quot;numbers_and_prev_next&quot;,&quot;widget_id&quot;:&quot;7d66e45&quot;,&quot;post_id&quot;:6751,&quot;theme_id&quot;:2193}">

                                        <article *ngFor="let item of blogs | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems}" id="post-6751" class="elementor-post elementor-grid-item ecs-post-loop post-6751 post type-post status-publish format-standard has-post-thumbnail hentry category-a-v-control-systems ast-col-sm-12 ast-article-post">
                                            <div data-elementor-type="loop" data-elementor-id="592" class="elementor elementor-592 elementor-location-archive post-6751 post type-post status-publish format-standard has-post-thumbnail hentry category-a-v-control-systems ast-article-single" data-elementor-settings="[]">
                                                <div class="elementor-section-wrap">
                                                    <section class="elementor-section elementor-top-section elementor-element elementor-element-6335d45 elementor-section-full_width elementor-hidden-phone elementor-hidden-tablet elementor-section-height-default elementor-section-height-default" data-id="6335d45" data-element_type="section">
                                                        <div class="elementor-container elementor-column-gap-no">
                                                            <div class="blog-image elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-d67feba" data-id="d67feba" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                                                <div class="elementor-widget-wrap " >
                                                                    <img src="{{item && item.images[0].img}}" class="blog-list-image"/>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-9704664" data-id="9704664" data-element_type="column">
                                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-9621bfa elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="9621bfa" data-element_type="section">
                                                                        <div class="elementor-container elementor-column-gap-default">
                                                                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-e5ce746" data-id="e5ce746" data-element_type="column">
                                                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                                                    <div class="elementor-element elementor-element-7d014fb postmeta elementor-widget elementor-widget-post-info" data-id="7d014fb" data-element_type="widget" data-widget_type="post-info.default">
                                                                                        <div class="elementor-widget-container">
                                                                                            <ul class="elementor-icon-list-items elementor-post-info">
                                                                                                <li class="elementor-icon-list-item elementor-repeater-item-d6f3005" itemprop="datePublished">
                                                                                                    <a href="javascript:void(0)">
                                                                                                        <span class="elementor-icon-list-text elementor-post-info__item elementor-post-info__item--type-date" (click)="filterFullDate($event)">
                                                                                                          {{item && item.postdt}}
                                                                                                        </span>
                                                                                                    </a>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-44f132d" data-id="44f132d" data-element_type="column">
                                                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                                                    <div class="elementor-element elementor-element-0336cf3 elementor-align-right postmeta elementor-widget elementor-widget-post-info" data-id="0336cf3" data-element_type="widget" data-widget_type="post-info.default">
                                                                                        <div class="elementor-widget-container">
                                                                                            <ul class="elementor-icon-list-items elementor-post-info">
                                                                                                <li class="elementor-icon-list-item elementor-repeater-item-9635b9e" itemprop="about">
                                                                                                    <span class="elementor-icon-list-text elementor-post-info__item elementor-post-info__item--type-terms">
                                                                                                        <span class="elementor-post-info__terms-list">
                                                                                                            <a href="javascript:void(0)" class="elementor-post-info__terms-list-item" (click)="filterPostTags($event)">
                                                                                                              {{item && item.relpost}}
                                                                                                            </a>
                                                                                                        </span>
                                                                                                    </span>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </section>
                                                                    <div class=" elementor-element elementor-element-469c741 elementor-widget elementor-widget-theme-post-title elementor-page-title elementor-widget-heading" data-id="469c741" data-element_type="widget" data-widget_type="theme-post-title.default">
                                                                        <div class="elementor-widget-container">
                                                                            <h2 class="elementor-heading-title elementor-size-default">
                                                                                <a href="/blog/detail/{{item.id}}">
                                                                                  {{item && item.title}}
                                                                                </a>
                                                                            </h2>
                                                                        </div>
                                                                    </div>
                                                                    <div class="blog-summary elementor-element elementor-element-cef8f66 elementor-widget elementor-widget-theme-post-excerpt" data-id="cef8f66" data-element_type="widget" data-widget_type="theme-post-excerpt.default">
                                                                        <div class="elementor-widget-container" [innerHTML]="item && item.summary.substring(0,300)">
                                                                        </div>
                                                                    </div>
                                                                    <div class="elementor-element elementor-element-4745641 elementor-widget elementor-widget-button" data-id="4745641" data-element_type="widget" data-widget_type="button.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-button-wrapper">
                                                                                <a href="/blog/detail/{{item.id}}" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                                                                    <span class="elementor-button-content-wrapper">
                                                                                        <span class="elementor-button-text">Read More</span>
                                                                                    </span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                    <!--start mobile reactive-->
                                                    <section class="elementor-section elementor-top-section elementor-element elementor-element-4aa1583 elementor-hidden-desktop elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4aa1583" data-element_type="section">
                                                        <div class="elementor-container elementor-column-gap-default">
                                                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-49d4265" data-id="49d4265" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                                    <div class="elementor-element elementor-element-057edb8 elementor-widget elementor-widget-image" data-id="057edb8" data-element_type="widget" data-widget_type="image.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-image">
                                                                                <img width="700" height="315" alt="ICS | AV Sound Systems for LIVE Events &amp;Entertainment" decoding="async" data-srcset="{{item && item.images[0].img}} 700w, {{item && item.images[0].img}} 300w" data-src="{{item && item.images[0].img}}" data-sizes="(max-width: 700px) 100vw, 700px" class="attachment-full size-full lazyloaded" src="{{item && item.images[0].img}}" data-xblocker="passed" loading="lazy" sizes="(max-width: 700px) 100vw, 700px" srcset="{{item && item.images[0].img}} 700w, {{item && item.images[0].img}} 300w" style="visibility: visible;">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-978828c elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="978828c" data-element_type="section">
                                                                        <div class="elementor-container elementor-column-gap-no">
                                                                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-e295d67" data-id="e295d67" data-element_type="column">
                                                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                                                    <div class="elementor-element elementor-element-7d5d441 elementor-widget elementor-widget-post-info" data-id="7d5d441" data-element_type="widget" data-widget_type="post-info.default">
                                                                                        <div class="elementor-widget-container">
                                                                                            <ul class="elementor-icon-list-items elementor-post-info">
                                                                                                <li class="elementor-icon-list-item elementor-repeater-item-d6f3005" itemprop="datePublished">
                                                                                                    <a href="javascript:void(0)">
                                                                                                        <span class="elementor-icon-list-text elementor-post-info__item elementor-post-info__item--type-date" (click)="filterFullDate($event)">{{item && item.postdt}}</span>
                                                                                                    </a>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-dc7e508" data-id="dc7e508" data-element_type="column">
                                                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                                                    <div class="elementor-element elementor-element-1ef90f7 elementor-align-right elementor-widget elementor-widget-post-info" data-id="1ef90f7" data-element_type="widget" data-widget_type="post-info.default">
                                                                                        <div class="elementor-widget-container">
                                                                                            <ul class="elementor-icon-list-items elementor-post-info">
                                                                                                <li class="elementor-icon-list-item elementor-repeater-item-9635b9e" itemprop="about">
                                                                                                    <span class="elementor-icon-list-text elementor-post-info__item elementor-post-info__item--type-terms">
                                                                                                        <span class="elementor-post-info__terms-list">
                                                                                                            <a href="javascript:void(0)" class="elementor-post-info__terms-list-item" (click)="filterPostTags($event)">{{item && item.relpost}}</a>
                                                                                                        </span>
                                                                                                    </span>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </section>
                                                                    <div class="elementor-element elementor-element-dd2d363 elementor-widget elementor-widget-theme-post-title elementor-page-title elementor-widget-heading" data-id="dd2d363" data-element_type="widget" data-widget_type="theme-post-title.default">
                                                                        <div class="elementor-widget-container">
                                                                            <h2 class="elementor-heading-title elementor-size-default">
                                                                                <a href="/blog/detail/{{item.id}}">{{item && item.title}}</a>
                                                                            </h2>
                                                                        </div>
                                                                    </div>
                                                                    <div class="elementor-element elementor-element-e5ddcd0 elementor-mobile-align-center elementor-widget elementor-widget-button" data-id="e5ddcd0" data-element_type="widget" data-widget_type="button.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-button-wrapper">
                                                                                <a href="/blog/detail/{{item.id}}" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                                                                    <span class="elementor-button-content-wrapper">
                                                                                        <span class="elementor-button-text">Read More</span>
                                                                                    </span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                    <!--end mobile reactive-->
                                                </div>
                                               
                                                </div>
                                        </article>
                                        <div class="elementor-row" style="margin-top:20px">
                                            <div class="pagination_total_show elementor-section elementor-top-section elementor-element elementor-element-6335d45 elementor-section-full_width elementor-hidden-phone elementor-hidden-tablet">
                                                <div class='show-total'>Showing 
                                                    <ng-container *ngIf="totalItems == 0 else noTotal">
                                                        0
                                                    </ng-container>
                                                    <ng-template #noTotal>
                                                        {{1+itemsPerPage * ( currentPage-1)}} 
                                                    </ng-template>
                                                    to 
                                                    <ng-container *ngIf="blogs && (itemsPerPage * currentPage) < totalItems else endNo">
                                                        {{itemsPerPage * currentPage}}
                                                    </ng-container>
                                                    <ng-template #endNo>
                                                        {{totalItems}}
                                                    </ng-template>
                                                    of {{totalItems && totalItems}} entries
                                                </div>
                                            </div>
                                            <div class="pagination_bar">                                                
                                                <pagination-controls                                                    
                                                    [previousLabel]="'Prev'"
                                                    [nextLabel]="'Next'"
                                                    [directionLinks]="true"
                                                    [responsive]="true"                                                   
                                                    (pageChange)="onTableDataChange($event)">
                                                </pagination-controls>
                                            </div>
                                            <div class="pagination_per_Page elementor-section elementor-top-section elementor-element elementor-element-6335d45 elementor-section-full_width elementor-hidden-phone elementor-hidden-tablet">  
                                                    <label class="control-label perPage " for="noOfRows">show&nbsp;</label>
                                                    <select (change)="onTableSizeChange($event)" class="form-select ">
                                                        <option *ngFor="let size of pageSize" [ngValue]="size">
                                                        {{ size }}
                                                        </option>
                                                    </select>
                                                    <label class="control-label perPage " for="noOfRows">&nbsp;entries</label>
                                            </div>
                                            <div class="elementor-top-section elementor-element elementor-element-4aa1583 elementor-hidden-desktop phone-select">  
                                                
                                                <select (change)="onTableSizeChange($event)" class="form-select ">
                                                    <option *ngFor="let size of pageSize" [ngValue]="size">
                                                    {{ size }}
                                                    </option>
                                                </select>
                                                
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-212c406" data-id="212c406" data-element_type="column">
                        <div class="elementor-widget-wrap"></div>
                    </div>
                    <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-0142b16" data-id="0142b16" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-83a1cf4 post-tag elementor-widget elementor-widget-wp-widget-tag_cloud" data-id="83a1cf4" data-element_type="widget" data-widget_type="wp-widget-tag_cloud.default">
                                <div class="elementor-widget-container">
                                    <h5>Post Tags</h5>
                                    <nav aria-label="Post Tags">
                                        <div class="tagcloud" *ngFor="let post of posts; index as i">
                                            <a href="javascript:void(0)" class="tag-cloud-link tag-link-16 tag-link-position-1" style="font-size: 13px;" aria-label="Control Rooms (1 item)" (click)="filterPostTags($event)">{{post}}</a>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-d60132a elementor-widget elementor-widget-wp-widget-archives" data-id="d60132a" data-element_type="widget" data-widget_type="wp-widget-archives.default">
                                <div class="elementor-widget-container">
                                    <h5>Archives</h5>
                                    <nav aria-label="Archives">
                                        <ul>
                                            <li *ngFor="let date of dates; index as i">
                                                <a href='javascript:void(0)' (click)="filterMonthDate($event)">{{date}}</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-5bfe901" data-id="5bfe901" data-element_type="column">
                        <div class="elementor-widget-wrap"></div>
                    </div>
                </div>
            </section>


          

        </div>
      </div>
    <!-- #primary -->
    </div>
  <!-- ast-container -->
  </div>
  <app-homejoin></app-homejoin>
<!-- #page -->

<app-common></app-common>
