<div class="row partner_page" >
    <div class="col-sm-3 col-md-3 col-lg-3 one-partner-card" 
        *ngFor="let partner of partner_list; index as i;">

      <app-partner-brands
        [url]="partner_url"
        [id]="partner.id"
        [title]="partner.title"
        [img]="partner.img"
        [e_no]="i"

        (partnerDeleteEvent)="partnerDelete($event)"
        >
      </app-partner-brands>

    </div>

    <div class="col-sm-3 col-md-3 col-lg-3 addPartner">
        <button mat-fab color="primary" aria-label="Example icon button with a vertical three dot icon"
          (click)="onAddPartner($event)">
          <mat-icon>add</mat-icon>
        </button>
    </div>
</div>