



<ng-container *ngFor=" let product of products; index as i">

  <section class="elementor-section elementor-top-section elementor-element elementor-element-b862352 elementor-section-full_width elementor-hidden-phone elementor-section-height-default elementor-section-height-default" data-id="b862352" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-no">
      <div class="elementor-row">
        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-d5c4566" data-id="d5c4566" data-element_type="column">
          <div class="elementor-column-wrap">
            <div class="elementor-widget-wrap"></div>
          </div>
        </div>
        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-00f01cd" data-id="00f01cd" data-element_type="column">
          <div class="elementor-column-wrap elementor-element-populated">
            <div class="elementor-widget-wrap">
              <section class="elementor-section elementor-inner-section elementor-element elementor-element-9ed3229 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="9ed3229" data-element_type="section">
                <div class="elementor-container elementor-column-gap-no">
                  <div class="elementor-row">
                    <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-872f003" data-id="872f003" data-element_type="column">
                      <div class="elementor-column-wrap elementor-element-populated">
                        <div class="elementor-widget-wrap">
                          <div class="elementor-element elementor-element-991be30 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="991be30" data-element_type="widget" data-widget_type="divider.default">
                            <div class="elementor-widget-container">
                              <div class="elementor-divider">
                                <span class="elementor-divider-separator"></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-cc72efa" data-id="cc72efa" data-element_type="column">
                      <div class="elementor-column-wrap elementor-element-populated">
                        <div class="elementor-widget-wrap">
                          <div class="elementor-element elementor-element-8f963db elementor-widget elementor-widget-heading" data-id="8f963db" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                              <h4 class="elementor-heading-title elementor-size-default">Check out our</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-7b2b1c7" data-id="7b2b1c7" data-element_type="column">
                      <div class="elementor-column-wrap elementor-element-populated">
                        <div class="elementor-widget-wrap">
                          <div class="elementor-element elementor-element-625bad2 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="625bad2" data-element_type="widget" data-widget_type="divider.default">
                            <div class="elementor-widget-container">
                              <div class="elementor-divider">
                                <span class="elementor-divider-separator"></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <div class="elementor-element elementor-element-2af8ee6 elementor-widget elementor-widget-heading" data-id="2af8ee6" data-element_type="widget" data-widget_type="heading.default">
                <div class="elementor-widget-container">
                  <h2 class="elementor-heading-title elementor-size-default">product highlight </h2>
                </div>
              </div>
              <div class="elementor-element elementor-element-f3b2107 elementor-widget elementor-widget-spacer" data-id="f3b2107" data-element_type="widget" data-widget_type="spacer.default">
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <section class="elementor-section elementor-inner-section elementor-element elementor-element-765ebfc elementor-section-full_width product-highlight elementor-section-height-default elementor-section-height-default" data-id="765ebfc" data-element_type="section">
                <div class="elementor-container elementor-column-gap-no">
                  <div class="elementor-row">
                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-a7c6a7d" data-id="a7c6a7d" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                      <div class="elementor-column-wrap elementor-element-populated">
                        <div class="elementor-background-overlay"></div>
                        <div class="elementor-widget-wrap">
                          <div class="elementor-element elementor-element-517fbd9 elementor-widget elementor-widget-heading" data-id="517fbd9" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                              <h3 class="elementor-heading-title elementor-size-default">{{product.title}}</h3>
                            </div>
                          </div>
                          <div class="elementor-element elementor-element-4ae746e scroll-box elementor-widget elementor-widget-text-editor" data-id="4ae746e" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                              <div class="elementor-text-editor elementor-clearfix">
                                <div [innerHTML]="product.summary"></div>
                              </div>
                            </div>
                          </div>
                          <div class="elementor-element elementor-element-5ecd391 elementor-widget elementor-widget-button" data-id="5ecd391" data-element_type="widget" data-widget_type="button.default">
                            <div class="elementor-widget-container">
                              <div class="elementor-button-wrapper">
                                <a href="#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6IjUxNzIiLCJ0b2dnbGUiOmZhbHNlfQ%3D%3D" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                  <span class="elementor-button-content-wrapper">
                                    <span class="elementor-button-text">Express Interest </span>
                                  </span>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-edaee27" data-id="edaee27" data-element_type="column">
                      <div class="elementor-column-wrap elementor-element-populated">
                        <div class="elementor-widget-wrap">
                          <div class="elementor-element elementor-element-95b4ffd elementor-widget elementor-widget-image" data-id="95b4ffd" data-element_type="widget" data-widget_type="image.default">
                            <div class="elementor-widget-container">
                              <div class="elementor-image">
                                <img width="748" height="537" src="{{product.images[0].img}}" class="attachment-large size-large" alt="ICS Product Highlight - Thermal Cameras Systems" loading="lazy" srcset="{{product.images[0].img}} 748w, {{product.images[0].img}} 300w" sizes="(max-width: 748px) 100vw, 748px" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-faa3fea" data-id="faa3fea" data-element_type="column">
          <div class="elementor-column-wrap">
            <div class="elementor-widget-wrap"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
<!--start mobile reactive-->
  <section class="elementor-section elementor-top-section elementor-element elementor-element-78dbe2a elementor-section-full_width elementor-hidden-desktop elementor-hidden-tablet elementor-section-height-default elementor-section-height-default" data-id="78dbe2a" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-no">
      <div class="elementor-row">
        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-f0d2bae" data-id="f0d2bae" data-element_type="column">
          <div class="elementor-column-wrap">
            <div class="elementor-widget-wrap"></div>
          </div>
        </div>
        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-621865d" data-id="621865d" data-element_type="column">
          <div class="elementor-column-wrap elementor-element-populated">
            <div class="elementor-widget-wrap">
              <section class="elementor-section elementor-inner-section elementor-element elementor-element-a3a5546 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="a3a5546" data-element_type="section">
                <div class="elementor-container elementor-column-gap-no">
                  <div class="elementor-row">
                    <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-f58c106" data-id="f58c106" data-element_type="column">
                      <div class="elementor-column-wrap elementor-element-populated">
                        <div class="elementor-widget-wrap">
                          <div class="elementor-element elementor-element-2cde26f elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="2cde26f" data-element_type="widget" data-widget_type="divider.default">
                            <div class="elementor-widget-container">
                              <div class="elementor-divider">
                                <span class="elementor-divider-separator"></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-243b99f" data-id="243b99f" data-element_type="column">
                      <div class="elementor-column-wrap elementor-element-populated">
                        <div class="elementor-widget-wrap">
                          <div class="elementor-element elementor-element-b9179f6 elementor-widget elementor-widget-heading" data-id="b9179f6" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                              <h4 class="elementor-heading-title elementor-size-default">Check Out Our</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-b859944" data-id="b859944" data-element_type="column">
                      <div class="elementor-column-wrap elementor-element-populated">
                        <div class="elementor-widget-wrap">
                          <div class="elementor-element elementor-element-a83de95 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="a83de95" data-element_type="widget" data-widget_type="divider.default">
                            <div class="elementor-widget-container">
                              <div class="elementor-divider">
                                <span class="elementor-divider-separator"></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <div class="elementor-element elementor-element-4ec536b elementor-widget elementor-widget-heading" data-id="4ec536b" data-element_type="widget" data-widget_type="heading.default">
                <div class="elementor-widget-container">
                  <h2 class="elementor-heading-title elementor-size-default">Product Highlight</h2>
                </div>
              </div>
              <section class="elementor-section elementor-inner-section elementor-element elementor-element-f108adb elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="f108adb" data-element_type="section">
                <div class="elementor-container elementor-column-gap-no">
                  <div class="elementor-row">
                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-f8cdb41" data-id="f8cdb41" data-element_type="column">
                      <div class="elementor-column-wrap elementor-element-populated">
                        <div class="elementor-widget-wrap">
                          <div class="elementor-element elementor-element-6c06c9d elementor-widget elementor-widget-image" data-id="6c06c9d" data-element_type="widget" data-widget_type="image.default">
                            <div class="elementor-widget-container">
                              <div class="elementor-image">
                                <img width="748" height="537" src="{{product.images[0].img}}" class="attachment-large size-large" alt="ICS Product Highlight - Thermal Cameras Systems" loading="lazy" srcset="{{product.images[0].img}} 748w, {{product.images[0].img}} 300w" sizes="(max-width: 748px) 100vw, 748px" data-xblocker="passed" style="visibility: visible;">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-3820095" data-id="3820095" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                      <div class="elementor-column-wrap elementor-element-populated">
                        <div class="elementor-background-overlay"></div>
                        <div class="elementor-widget-wrap">
                          <div class="elementor-element elementor-element-87de3c9 elementor-widget elementor-widget-heading" data-id="87de3c9" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                              <h3 class="elementor-heading-title elementor-size-default">{{product.title}}</h3>
                            </div>
                          </div>
                          <div class="elementor-element elementor-element-8bd2c10 elementor-widget elementor-widget-text-editor" data-id="8bd2c10" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                              <div class="elementor-text-editor elementor-clearfix" [innerHTML]="product.summary">
                                
                              </div>
                            </div>
                          </div>
                          <div class="elementor-element elementor-element-ed0b933 elementor-mobile-align-center elementor-widget elementor-widget-button" data-id="ed0b933" data-element_type="widget" data-widget_type="button.default">
                            <div class="elementor-widget-container">
                              <div class="elementor-button-wrapper">
                                <a href="#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6IjUxNzIiLCJ0b2dnbGUiOmZhbHNlfQ%3D%3D" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                  <span class="elementor-button-content-wrapper">
                                    <span class="elementor-button-text">Express Interest </span>                                    
                                  </span>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-4ad1f3b" data-id="4ad1f3b" data-element_type="column">
          <div class="elementor-column-wrap">
            <div class="elementor-widget-wrap"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--end mobile reactive-->
</ng-container>


<div data-elementor-type="popup" id="popupModal" data-elementor-id="5172" class="elementor elementor-5172 elementor-location-popup" data-elementor-settings="{&quot;timing&quot;:[]}" >
  <div class="elementor-section-wrap">
    <section class="elementor-section elementor-top-section elementor-element elementor-element-2b9b64e elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2b9b64e" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
      <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
          <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f2fee0e" data-id="f2fee0e" data-element_type="column">
            <div class="elementor-column-wrap elementor-element-populated">
              <div class="elementor-widget-wrap">
                <section class="elementor-section elementor-inner-section elementor-element elementor-element-c8aa357 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="c8aa357" data-element_type="section">
                  <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                      <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-76f3f67" data-id="76f3f67" data-element_type="column">
                        <div class="elementor-column-wrap">
                          <div class="elementor-widget-wrap"></div>
                        </div>
                      </div>
                      <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-3b8fa70" data-id="3b8fa70" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                          <div class="elementor-widget-wrap">
                            <div class="elementor-element elementor-element-6217cc1 elementor-widget elementor-widget-heading" data-id="6217cc1" data-element_type="widget" data-widget_type="heading.default">
                              <div class="elementor-widget-container">
                                <h4 class="elementor-heading-title elementor-size-default">Please fill out the form below, <br> and we will be in touch! </h4>
                              </div>
                            </div>
                            <div class="elementor-element elementor-element-ea00989 bdt-formidable-forms-button-custom elementor-widget elementor-widget-bdt-formidable-forms" data-id="ea00989" data-element_type="widget" data-widget_type="bdt-formidable-forms.default">
                              <div class="elementor-widget-container">
                                <div class="bdt-formidable-forms">
                                  <div class="frm_forms  with_frm_style frm_style_formidable-style" id="frm_form_1_container" data-token="93be8fbbe5c0f1ee849fde0b3f0dd487" id="parent">
                                    <form enctype="multipart/form-data" method="post" class="frm-show-form  frm_js_validate  frm_pro_form  frm_ajax_submit " id="form_contact-form" data-token="93be8fbbe5c0f1ee849fde0b3f0dd487">
                                      <div class="frm_form_fields ">
                                        <fieldset>
                                          <legend class="frm_screen_reader">Contact Us</legend>
                                          <div class="frm_fields_container">
                                            <input type="hidden" name="frm_action" value="create" />
                                            <input type="hidden" name="form_id" value="1" />
                                            <input type="hidden" name="frm_hide_fields_1" id="frm_hide_fields_1" value="" />
                                            <input type="hidden" name="form_key" value="contact-form" />
                                            <input type="hidden" name="item_meta[0]" value="" />
                                            <input type="hidden" id="frm_submit_entry_1" name="frm_submit_entry_1" value="0827883504" />
                                            <input type="hidden" name="_wp_http_referer" value="/about-us/" />
                                            <div id="frm_field_1_container" class="frm_form_field form-field  frm_required_field frm_top_container">
                                              <label for="field_qh4icy" id="field_qh4icy_label" class="frm_primary_label">
                                                <span class="frm_required"></span>
                                              </label>
                                              <input type="text" id="field_qh4icy" name="item_meta[1]" value="" maxlength="25" placeholder="Name*" data-reqmsg="This field cannot be blank." aria-required="true" data-invmsg="Name is invalid" aria-invalid="false" />
                                            </div>
                                            <div id="frm_field_3_container" class="frm_form_field form-field  frm_required_field frm_top_container frm_full">
                                              <label for="field_29yf4d" id="field_29yf4d_label" class="frm_primary_label">
                                                <span class="frm_required"></span>
                                              </label>
                                              <input type="email" id="field_29yf4d" name="item_meta[3]" value="" maxlength="50" placeholder="Email*" data-reqmsg="This field cannot be blank." aria-required="true" data-invmsg="Please enter a valid email address" aria-invalid="false" />
                                            </div>
                                            <div id="frm_field_6_container" class="frm_form_field form-field  frm_required_field frm_top_container">
                                              <label for="field_ylqqd" id="field_ylqqd_label" class="frm_primary_label">
                                                <span class="frm_required"></span>
                                              </label>
                                              <input type="tel" id="field_ylqqd" name="item_meta[6]" value="" maxlength="15" placeholder="Mobile" data-reqmsg="This field cannot be blank." aria-required="true" data-invmsg="Phone is invalid" aria-invalid="false" pattern="((\+\d{1,3}(-|.| )?\(?\d\)?(-| |.)?\d{1,5})|(\(?\d{2,6}\)?))(-|.| )?(\d{3,4})(-|.| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" aria-describedby="    ">
                                            </div>
                                            <div id="frm_field_5_container" class="frm_form_field form-field  frm_required_field frm_top_container frm_full">
                                              <label for="field_9jv0r1" id="field_9jv0r1_label" class="frm_primary_label">
                                                <span class="frm_required"></span>
                                              </label>
                                              <textarea name="item_meta[5]" id="field_9jv0r1" rows="5" placeholder="Message" data-reqmsg="This field cannot be blank." aria-required="true" data-invmsg=" is invalid" aria-invalid="false"></textarea>
                                            </div>
                                            <div id="frm_field_18_container" class="frm_form_field form-field  frm_none_container">
                                              <label for="g-recaptcha-response" id="field_74gg7_label" class="frm_primary_label">reCAPTCHA <span class="frm_required" aria-hidden="true"></span>
                                              </label>
                                              <div id="field_74gg7" class="frm-g-recaptcha" data-sitekey="6LfNNpImAAAAAKQ3P6bUSoXKsD7tVkb0DVHll_kf
                                              " data-size="normal" data-theme="light"></div>
                                              <div id="reCAPTCHAErrorMessage"  class="displayNone">
                                                <div class="frmError">
                                                  The reCAPTCHA was not entered correctly</div>
                                              </div>
                                            </div>
                                            <input type="hidden" name="item_key" value="" />
                                            <div class="frm_verify" aria-hidden="true">
                                              <label for="frm_email_1"> If you are human, leave this field blank. </label>
                                              <input type="text" class="frm_verify" id="frm_email_1" name="frm_verify" value="" />
                                            </div>
                                            <div class="frm_submit" >
                                              <button class="frm_button_submit frm_final_submit" id="submit-button" type="submit" formnovalidate="formnovalidate" onclick="buttonClick(event)" >Submit</button>
                                              
                                            </div>
                                          </div>
                                        </fieldset>
                                      </div>
                                      <p style="display: none !important;">
                                        <label>&#916; <textarea name="ak_hp_textarea" cols="45" rows="8" maxlength="100"></textarea>
                                        </label>
                                        <input type="hidden" id="ak_js_1" name="ak_js" value="136" />
                                        <script>
                                          document.getElementById("ak_js_1").setAttribute("value", (new Date()).getTime());
                                        </script>
                                      </p>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="elementor-element elementor-element-0142a8b elementor-widget elementor-widget-text-editor" data-id="0142a8b" data-element_type="widget" data-widget_type="text-editor.default">
                              <div class="elementor-widget-container">
                                <div class="elementor-text-editor elementor-clearfix">
                                  <p>Mandatory fields are marked with *</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-009c027" data-id="009c027" data-element_type="column">
                        <div class="elementor-column-wrap">
                          <div class="elementor-widget-wrap"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
