
.modal-block{
    display: block !important;
}
.displayNone{
    display:none !important;
}
.displayBlock{
    display:block !important;
}
.frmError{
    padding: 0;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 12px;
    color: #ffffff;
    font-weight: normal;
    text-align: left;
    font-style: normal;
    max-width: 100%;
}