

<link rel='stylesheet' id='elementor-post-740-css'  href='/assets/css/post-740.css?ver=1618898000' media='all' />

<div data-elementor-type="footer" id="footer" data-elementor-id="740" class="elementor elementor-740 elementor-location-footer" data-elementor-settings="[]">
  <div class="elementor-section-wrap">
    <section class="elementor-section elementor-top-section elementor-element elementor-element-1c0cff0 elementor-section-full_width elementor-section-height-min-height elementor-hidden-phone elementor-section-height-default elementor-section-items-middle" data-id="1c0cff0" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
      <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-158b6df" data-id="158b6df" data-element_type="column">
          <div class="elementor-widget-wrap elementor-element-populated">
            <section class="elementor-section elementor-inner-section elementor-element elementor-element-0f49ec6 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="0f49ec6" data-element_type="section">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-03ccf64" data-id="03ccf64" data-element_type="column">
                  <div class="elementor-widget-wrap"></div>
                </div>
                <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-e894cfc" data-id="e894cfc" data-element_type="column">
                  <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-3a83405 elementor-widget elementor-widget-menu-anchor" data-id="3a83405" data-element_type="widget" data-widget_type="menu-anchor.default">
                      <div class="elementor-widget-container">
                        <div id="footer" class="elementor-menu-anchor"></div>
                      </div>
                    </div>
                    <div class="elementor-element elementor-element-2cfa024 elementor-widget elementor-widget-heading" data-id="2cfa024" data-element_type="widget" data-widget_type="heading.default">
                      <div class="elementor-widget-container">
                        <h4 class="elementor-heading-title elementor-size-default"> Please fill out the form below, <br>and we will be in touch! </h4>
                      </div>
                    </div>
                    <div *ngIf="submitSuccessFlag == false" class="elementor-element elementor-element-62435d6 bdt-formidable-forms-button-custom elementor-widget elementor-widget-bdt-formidable-forms" data-id="62435d6" data-element_type="widget" data-widget_type="bdt-formidable-forms.default">
                      <div class="elementor-widget-container">
                        <div class="bdt-formidable-forms">
                          <div class="frm_forms  with_frm_style frm_style_formidable-style" id="frm_form_1_container" data-token="d65544c2f2e8a0fe5d13373227f6ef4d">
                            <form  [formGroup]="myForm" (ngSubmit)="submitForm($event)" id="formGroup">
                              <div class="frm_form_fields ">
                                <fieldset>
                                  <legend class="frm_screen_reader">Contact Us</legend>
                                  <div class="frm_fields_container">
                                    <input type="hidden" name="frm_action" value="create" />
                                    <input type="hidden" name="form_id" value="1" />
                                    <input type="hidden" name="frm_hide_fields_1" id="frm_hide_fields_1" value="" />
                                    <input type="hidden" name="form_key" value="contact-form" />
                                    <input type="hidden" name="item_meta[0]" value="" />
                                    <input type="hidden" id="frm_submit_entry_1" name="frm_submit_entry_1" value="0760d43419" />
                                    <input type="hidden" name="_wp_http_referer" value="/solutions/security-solutions/" />
                                    <div id="frm_field_1_container" class="frm_form_field form-field  frm_required_field frm_top_container">
                                      <label for="field_qh4icy" id="field_qh4icy_label" class="frm_primary_label">
                                        <span class="frm_required"></span>
                                      </label>
                                      <input type="text" id="name" name="submit_name" formControlName="name" maxlength="25" placeholder="NAME*"   />
                                      <div *ngIf="(myForm.get('name')?.invalid && myForm.get('name')?.touched) || (myForm.get('name')?.invalid && validator)">
                                        <div class="frm_error"  *ngIf="myForm.get('name')?.hasError('required')">
                                          This field cannot be blank.</div>
                                        <div class="frm_error"  *ngIf="myForm.get('name')?.hasError('maxlength')">
                                          Name must be at least 3 characters long.</div>                                                    
                                      </div>
                                    </div>
                                    <div id="frm_field_3_container" class="frm_form_field form-field  frm_required_field frm_top_container frm_full">
                                      <label for="field_29yf4d" id="field_29yf4d_label" class="frm_primary_label">
                                        <span class="frm_required"></span>
                                      </label>
                                      <input type="email" id="email" name="submit_email" formControlName="email" maxlength="50" placeholder="EMAIL*" />
                                      <div *ngIf="(myForm.get('email')?.invalid && myForm.get('email')?.touched) || (myForm.get('email')?.invalid && validator)">
                                        <div class="frm_error"  *ngIf="myForm.get('email')?.hasError('required')">
                                          This field cannot be blank.</div>
                                        <div class="frm_error"  *ngIf="myForm.get('email')?.hasError('email')">
                                          Email is invalid.</div>                                                    
                                      </div>
                                    </div>
                                    <div id="frm_field_6_container" class="frm_form_field form-field  frm_required_field frm_top_container">
                                      <label for="field_ylqqd" id="field_ylqqd_label" class="frm_primary_label">
                                        <span class="frm_required"></span>
                                      </label>
                                      <input type="text" id="phone" name="submit_tel" formControlName="phone" placeholder="MOBILE" maxlength="15"   (focus)="onInputFocus()"/>
                                      <div *ngIf="myForm.get('phone')?.hasError('invalidNineDigits')">
                                        <div class="frm_error"  >
                                          Phone is invalid</div> 
                                      </div>
                                      <div *ngIf="(myForm.get('phone')?.invalid && myForm.get('phone')?.touched) || (myForm.get('phone')?.invalid && validator)">
                                        <div class="frm_error"  *ngIf="myForm.get('phone')?.hasError('required')">
                                          This field cannot be blank.</div>
                                        <div class="frm_error"  *ngIf="myForm.get('phone')?.hasError('mask')">
                                          Phone is invalid</div>                                                    
                                      </div>
                                    </div>
                                    <div id="frm_field_5_container" class="frm_form_field form-field  frm_required_field frm_top_container frm_full">
                                      <label for="field_9jv0r1" id="field_9jv0r1_label" class="frm_primary_label">
                                        <span class="frm_required"></span>
                                      </label>
                                      <textarea id="message" name="submit_message" formControlName="message" rows="5" placeholder="MESSAGE" aria-invalid="false"></textarea>
                                      <div *ngIf="(myForm.get('message')?.invalid && myForm.get('message')?.touched) || (myForm.get('message')?.invalid && validator)">
                                        <div class="frm_error"  *ngIf="myForm.get('message')?.hasError('required')">
                                          This field cannot be blank.</div>
                                        <div class="frm_error"  *ngIf="myForm.get('message')?.hasError('message')">
                                            is invalid.</div>                                                    
                                      </div>
                                    </div>
                                    <div id="frm_field_17_container" class="frm_form_field form-field  frm_none_container">
                                      <label for="g-recaptcha-response" id="field_74gg7_label" class="frm_primary_label">reCAPTCHA <span class="frm_required" aria-hidden="true"></span>
                                      </label>
                                      <div id="field_74gg7" class="frm-g-recaptcha" data-sitekey="6LfNNpImAAAAAKQ3P6bUSoXKsD7tVkb0DVHll_kf
                                      " data-size="normal" data-theme="light"></div>
                                      <div  *ngIf="reCaptchaFlag == true">
                                        <div class="frm_error">
                                          The reCAPTCHA was not entered correctly</div>
                                      </div>
                                    </div>
                                    <input type="hidden" name="item_key" value="" />
                                    <div class="frm_verify" aria-hidden="true">
                                      <label for="frm_email_1">If you are human, leave this field blank. </label>
                                      <input type="text" class="frm_verify" id="frm_email_1" name="frm_verify" value="" />
                                    </div>
                                    <ng-container *ngIf="loggingIn; else loggedIn">
                                      <div class="frm_submit">
                                        <button class="frm_button_submit frm_final_submit" [disabled]="loggingIn" style="cursor:not-allowed !important;">
                                          <div class="logging-img"><img src="/assets/images/ajax-loader2.gif" style="display:inline-block; justify-content: center;" ></div>												
                                        </button>
                                      </div>
                                    </ng-container>
                                    <ng-template #loggedIn>
                                      <div class="frm_submit">
                                        <button class="frm_button_submit frm_final_submit" type="submit">Submit</button>
                                      </div>
                                    </ng-template>
                                    
                                  </div>
                                </fieldset>
                              </div>
                              <p style="display: none !important;">
                                <label> &#916; <textarea name="ak_hp_textarea" cols="45" rows="8" maxlength="100"></textarea>
                                </label>
                                <input type="hidden" id="ak_js_1" name="ak_js" value="101" />
                                <script type="rocketlazyloadscript"> document.getElementById( "ak_js_1" ).setAttribute( "value", ( new Date() ).getTime() );
                                                                      </script>
                              </p>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="submitSuccessFlag == true" class="elementor-element elementor-element-62435d6 bdt-formidable-forms-button-custom elementor-widget elementor-widget-bdt-formidable-forms" data-id="62435d6" data-element_type="widget" data-widget_type="bdt-formidable-forms.default">
                      <div class="elementor-widget-container">
                        <div class="bdt-formidable-forms">
                          <div class="frm_forms with_frm_style frm_style_formidable-style" id="frm_form_1_container">
                            <script type="text/javascript">
                              document.addEventListener('DOMContentLoaded', function() {
                                frmFrontForm.scrollMsg(1);
                              })
                            </script>
                            <div class="frm_message" role="status">
                              <p>Your responses were successfully submitted. Thank you!</p>
                            </div>
                          </div>
                          <script>
                            /(trident|msie)/i.test(navigator.userAgent) && document.getElementById && window.addEventListener && window.addEventListener("hashchange", function() {
                              var t, e = location.hash.substring(1);
                              /^[A-z0-9_-]+$/.test(e) && (t = document.getElementById(e)) && (/^(?:a|select|input|button|textarea)$/i.test(t.tagName) || (t.tabIndex = -1), t.focus())
                            }, !1);
                          </script>
                          <script>
                            /*
                            <![CDATA[*/
                            /*]]>*/
                          </script>
                          <span class="frm_end_ajax_1"></span>
                        </div>
                      </div>
                    </div>

                    <div class="elementor-element elementor-element-48d7b8d elementor-widget elementor-widget-text-editor" data-id="48d7b8d" data-element_type="widget" data-widget_type="text-editor.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-text-editor elementor-clearfix">
                          <p>Mandatory fields are marked with *</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-3a62537" data-id="3a62537" data-element_type="column">
                  <div class="elementor-widget-wrap"></div>
                </div>
              </div>
            </section>
            <div class="elementor-element elementor-element-56f4a84 elementor-widget elementor-widget-spacer" data-id="56f4a84" data-element_type="widget" data-widget_type="spacer.default">
              <div class="elementor-widget-container">
                <div class="elementor-spacer">
                  <div class="elementor-spacer-inner"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
   
  </div>
</div>