    <link rel='stylesheet' id='elementor-post-569-css' href='/assets/css/post-569.css?ver=1616598291' media='all' />
    <link rel='stylesheet' id='elementor-post-2452-css' href='/assets/css/post-2452.css?ver=1616598291' media='all' />
    <link rel='stylesheet' id='elementor-post-2455-css' href='/assets/css/post-2455.css?ver=1616598291' media='all' />

<section class="elementor-section elementor-top-section elementor-element elementor-element-d5854bf elementor-section-full_width elementor-hidden-phone audio-solutions-red elementor-section-height-default elementor-section-height-default" data-id="d5854bf" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
  <div class="elementor-container elementor-column-gap-no">
    <div class="elementor-row">
      <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-2b7919e" data-id="2b7919e" data-element_type="column">
        <div class="elementor-column-wrap">
          <div class="elementor-widget-wrap"></div>
        </div>
      </div>
      <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-99fc8fe" data-id="99fc8fe" data-element_type="column">
        <div class="elementor-column-wrap elementor-element-populated">
          <div class="elementor-widget-wrap">
            <div class="elementor-element elementor-element-f434eb7 elementor-tabs-view-horizontal elementor-widget elementor-widget-tp-tabs-tours" data-id="f434eb7" data-element_type="widget" data-widget_type="tp-tabs-tours.default">
              <div class="elementor-widget-container">
                <div class="theplus-tabs-wrapper elementor-tabs   " id="tabs63187ef243a25" data-tabs-id="tabs63187ef243a25" data-connection="" data-tab-default="0" data-tab-hover="no" role="tablist">
                  <div *ngFor="let item of groupData; index as i" class="theplus-tabs-content-wrapper elementor-tabs-content-wrapper" >
                    <div class="elementor-tab-title elementor-tab-mobile-title text-center white-font" tabindex="2561" attr.data-tab="{{i}}" role="tab">
                      <span>{{item.title}}</span>
                    </div>
                    <div id="elementor-tab-content-569" class="elementor-tab-content elementor-clearfix plus-tab-content" attr.data-tab="{{i}}" role="tabpanel" aria-labelledby="elementor-tab-title-569">
                      <div class="plus-content-editor">
                        <div data-elementor-type="section" data-elementor-id="569" class="elementor elementor-569" data-elementor-settings="[]">
                          <div class="elementor-section-wrap">
                            <section class="elementor-section elementor-top-section elementor-element elementor-element-eceb703 elementor-section-full_width elementor-hidden-phone solutions-section elementor-section-height-default elementor-section-height-default" data-id="eceb703" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                              <div class="elementor-container elementor-column-gap-no">
                                <div class="elementor-row">
                                  <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-a749c6f" data-id="a749c6f" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                      <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-1185933 elementor-arrows-position-inside elementor-widget elementor-widget-image-carousel" data-id="1185933" data-element_type="widget" data-settings="{&quot;slides_to_show&quot;:&quot;1&quot;,&quot;navigation&quot;:&quot;arrows&quot;,&quot;autoplay&quot;:&quot;yes&quot;,&quot;pause_on_hover&quot;:&quot;yes&quot;,&quot;pause_on_interaction&quot;:&quot;yes&quot;,&quot;autoplay_speed&quot;:5000,&quot;infinite&quot;:&quot;yes&quot;,&quot;effect&quot;:&quot;slide&quot;,&quot;speed&quot;:500}" data-widget_type="image-carousel.default">
                                          <div class="elementor-widget-container">
                                            <div class="elementor-image-carousel-wrapper swiper-container" dir="ltr">
                                              <div class="elementor-image-carousel swiper-wrapper">
                                                <div class="swiper-slide">
                                                  <figure class="swiper-slide-inner">
                                                    <img class="swiper-slide-image" src="{{item.images[0].img}}" alt="Mass Notification Systems by ICS, for Schools, Offices, and Commercial Establishments" />
                                                  </figure>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="elementor-column elementor-col-10 elementor-top-column elementor-element elementor-element-d94d603" data-id="d94d603" data-element_type="column">
                                    <div class="elementor-column-wrap">
                                      <div class="elementor-widget-wrap"></div>
                                    </div>
                                  </div>
                                  <div class="elementor-column elementor-col-40 elementor-top-column elementor-element elementor-element-afb3822" data-id="afb3822" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                      <div class="elementor-widget-wrap">
                                        
                                        <div class="elementor-element elementor-element-d0bec7e solutions-text elementor-widget elementor-widget-text-editor" data-id="d0bec7e" data-element_type="widget" data-widget_type="text-editor.default">
                                          <div class="elementor-widget-container"> 
                                            <div class="elementor-text-editor elementor-clearfix white-font">
                                              <div class="elementor-container elementor-column-gap-no">
                                                <div class="elementor-column elementor-col-60 elementor-inner-column elementor-element elementor-element-0d85a80" data-id="0d85a80" data-element_type="column">
                                                  <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-08447f4 elementor-widget elementor-widget-heading" data-id="08447f4" data-element_type="widget" data-widget_type="heading.default">
                                                      <div class="elementor-widget-container">
                                                        <h4 class="elementor-heading-title elementor-size-default">{{item.title}}</h4>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="elementor-column elementor-col-40 elementor-inner-column elementor-element elementor-element-ac4e5d5" data-id="ac4e5d5" data-element_type="column">
                                                  <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-element elementor-element-d250bce elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="d250bce" data-element_type="widget" data-widget_type="divider.default">
                                                      <div class="elementor-widget-container">
                                                        <div class="elementor-divider">
                                                          <span class="elementor-divider-separator"></span>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="elementor-element elementor-element-5bfa00b elementor-widget elementor-widget-heading" data-id="5bfa00b" data-element_type="widget" data-widget_type="heading.default">
                                                <div class="elementor-widget-container">
                                                    <h3 class="elementor-heading-title elementor-size-default" [innerHTML]="item.subject"></h3>		
                                                </div>
                                              </div>
                                              <div class="white-font" [innerHTML]="item.summary"></div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="enquire-btn elementor-element elementor-element-6348b8a elementor-widget elementor-widget-button" data-id="6348b8a" data-element_type="widget" data-widget_type="button.default">
                                          <div class="elementor-widget-container">
                                            <div class="elementor-button-wrapper elementor-button-link elementor-button elementor-size-sm" (click)="onScrollFooter()"
                                             style="background-color:#ffffff; cursor: pointer">
                                                <span class="elementor-button-content-wrapper">
                                                  <span class="elementor-button-text" style="color:#ff0000">ENQUIRE NOW</span>
                                                </span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </section>
                         
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="theplus-tabs-nav-wrapper elementor-tabs-wrapper text-center  ">
                    <ul  class="plus-tabs-nav">
                      <li *ngFor="let item of groupData; index as i">
                        <div id="elementor-tab-title-2561" class="elementor-tab-title elementor-tab-desktop-title plus-tab-header" attr.data-tab="{{i}}" tabindex="2561" role="tab" aria-controls="elementor-tab-content-2561">
                          <span>{{item.images[0].title}}</span>
                        </div>
                        <div class="tab-sep-icon">
                          <i class="tab-between-icon fa fa-minus"></i>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-5c0bd69" data-id="5c0bd69" data-element_type="column">
        <div class="elementor-column-wrap">
          <div class="elementor-widget-wrap"></div>
        </div>
      </div>
    </div>
  </div>
</section>


<!---start mobile reactive-->

<section class="elementor-section elementor-top-section elementor-element elementor-element-8d4edad elementor-section-full_width elementor-hidden-desktop elementor-hidden-tablet elementor-section-height-default elementor-section-height-default" data-id="8d4edad" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
  <div class="elementor-container elementor-column-gap-no">
    <div class="elementor-row">
      <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-6c1a24e" data-id="6c1a24e" data-element_type="column">
        <div class="elementor-column-wrap">
          <div class="elementor-widget-wrap"></div>
        </div>
      </div>
      <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-e86b2c1" data-id="e86b2c1" data-element_type="column">
        <div class="elementor-column-wrap elementor-element-populated">
          <div class="elementor-widget-wrap">
            <div class="elementor-element elementor-element-525005a elementor-tabs-view-horizontal elementor-widget elementor-widget-tp-tabs-tours" data-id="525005a" data-element_type="widget" data-widget_type="tp-tabs-tours.default">
              <div class="elementor-widget-container">
                <div class="theplus-tabs-wrapper elementor-tabs   " id="tabs63187ef272c11" data-tabs-id="tabs63187ef272c11" data-connection="" data-tab-default="0" data-tab-hover="no" role="tablist">
                  <div class="theplus-tabs-content-wrapper elementor-tabs-content-wrapper">
                    <ng-container *ngFor="let item of groupData; index as i">
                      <div class="elementor-tab-title elementor-tab-mobile-title text-left" tabindex="{{i+1}}" attr.data-tab="{{i+1}}" role="tab">
                        <span>{{item.images[0].title}}</span>
                      </div>
                      <div id="elementor-tab-content-8633" class="elementor-tab-content elementor-clearfix plus-tab-content" attr.data-tab="{{i+1}}" role="tabpanel" aria-labelledby="elementor-tab-title-8633">
                        <div class="plus-content-editor">
                          <div data-elementor-type="section" data-elementor-id="569" class="elementor elementor-569" data-elementor-settings="[]">
                            <div class="elementor-section-wrap">
                              <section class="elementor-section elementor-top-section elementor-element elementor-element-eceb703 elementor-section-full_width elementor-hidden-phone solutions-section elementor-section-height-default elementor-section-height-default" data-id="eceb703" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-container elementor-column-gap-no">
                                  <div class="elementor-row">
                                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-a749c6f" data-id="a749c6f" data-element_type="column">
                                      <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                          <div class="elementor-element elementor-element-1185933 elementor-arrows-position-inside elementor-widget elementor-widget-image-carousel" data-id="1185933" data-element_type="widget" data-settings="{&quot;slides_to_show&quot;:&quot;1&quot;,&quot;navigation&quot;:&quot;arrows&quot;,&quot;autoplay&quot;:&quot;yes&quot;,&quot;pause_on_hover&quot;:&quot;yes&quot;,&quot;pause_on_interaction&quot;:&quot;yes&quot;,&quot;autoplay_speed&quot;:5000,&quot;infinite&quot;:&quot;yes&quot;,&quot;effect&quot;:&quot;slide&quot;,&quot;speed&quot;:500}" data-widget_type="image-carousel.default">
                                            <div class="elementor-widget-container">
                                              <div class="elementor-image-carousel-wrapper swiper-container" dir="ltr">
                                                <div class="elementor-image-carousel swiper-wrapper">
                                                  <div class="swiper-slide">
                                                    <figure class="swiper-slide-inner">
                                                      <img class="swiper-slide-image" src="{{item.images[0].img}}" alt="Mass Notification Systems by ICS, for Schools, Offices, and Commercial Establishments" />
                                                    </figure>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-d94d603" data-id="d94d603" data-element_type="column">
                                      <div class="elementor-column-wrap">
                                        <div class="elementor-widget-wrap"></div>
                                      </div>
                                    </div>
                                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-afb3822" data-id="afb3822" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                      <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                          <section class="elementor-section elementor-inner-section elementor-element elementor-element-a4cd83a elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="a4cd83a" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-no">
                                              <div class="elementor-row">
                                                <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-0d85a80" data-id="0d85a80" data-element_type="column">
                                                  <div class="elementor-column-wrap elementor-element-populated">
                                                    <div class="elementor-widget-wrap">
                                                      <div class="elementor-element elementor-element-08447f4 elementor-widget elementor-widget-heading" data-id="08447f4" data-element_type="widget" data-widget_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                          <h4 class="elementor-heading-title elementor-size-default">{{item.title}}</h4>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-ac4e5d5" data-id="ac4e5d5" data-element_type="column">
                                                  <div class="elementor-column-wrap elementor-element-populated">
                                                    <div class="elementor-widget-wrap">
                                                      <div class="elementor-element elementor-element-d250bce elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="d250bce" data-element_type="widget" data-widget_type="divider.default">
                                                        <div class="elementor-widget-container">
                                                          <div class="elementor-divider">
                                                            <span class="elementor-divider-separator"></span>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </section>
                                          <div class="elementor-element elementor-element-5bfa00b elementor-widget elementor-widget-heading" data-id="5bfa00b" data-element_type="widget" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                              <h3 class="elementor-heading-title elementor-size-default" [innerHTML]="item.mobile_subject">
                                              </h3>
                                            </div>
                                          </div>
                                          <div class="elementor-element elementor-element-d0bec7e solutions-text elementor-widget elementor-widget-text-editor" data-id="d0bec7e" data-element_type="widget" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                              <div class="elementor-text-editor elementor-clearfix" [innerHTML]="item.summary">
                                                
                                              </div>
                                            </div>
                                          </div>
                                          <div class="elementor-element elementor-element-6348b8a elementor-widget elementor-widget-button" data-id="6348b8a" data-element_type="widget" data-widget_type="button.default">
                                            <div class="elementor-widget-container">
                                              <div class="elementor-button-wrapper">
                                                <a href="javascript:void(0)" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                                  <span class="elementor-button-content-wrapper">
                                                    <span class="elementor-button-text">ENQUIRE NOW</span>
                                                  </span>
                                                </a>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section>
                              <section class="elementor-section elementor-top-section elementor-element elementor-element-e0ffc24 elementor-hidden-desktop elementor-hidden-tablet elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="e0ffc24" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-container elementor-column-gap-default">
                                  <div class="elementor-row">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4158316" data-id="4158316" data-element_type="column">
                                      <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                          <section class="elementor-section elementor-inner-section elementor-element elementor-element-70f1611 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="70f1611" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-no">
                                              <div class="elementor-row">
                                                <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-82fbea9" data-id="82fbea9" data-element_type="column">
                                                  <div class="elementor-column-wrap elementor-element-populated">
                                                    <div class="elementor-widget-wrap">
                                                      <div class="elementor-element elementor-element-c3d86a6 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="c3d86a6" data-element_type="widget" data-widget_type="divider.default">
                                                        <div class="elementor-widget-container">
                                                          <div class="elementor-divider">
                                                            <span class="elementor-divider-separator"></span>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-439ef40" data-id="439ef40" data-element_type="column">
                                                  <div class="elementor-column-wrap elementor-element-populated">
                                                    <div class="elementor-widget-wrap">
                                                      <div class="elementor-element elementor-element-0c55191 elementor-widget elementor-widget-heading" data-id="0c55191" data-element_type="widget" data-widget_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                          <h4 class="elementor-heading-title elementor-size-default">{{item.title}}</h4>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-5bafc42" data-id="5bafc42" data-element_type="column">
                                                  <div class="elementor-column-wrap elementor-element-populated">
                                                    <div class="elementor-widget-wrap">
                                                      <div class="elementor-element elementor-element-d822f11 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="d822f11" data-element_type="widget" data-widget_type="divider.default">
                                                        <div class="elementor-widget-container">
                                                          <div class="elementor-divider">
                                                            <span class="elementor-divider-separator"></span>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </section>
                                          <div class="elementor-element elementor-element-548b010 elementor-widget elementor-widget-heading" data-id="548b010" data-element_type="widget" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                              <h2 class="elementor-heading-title elementor-size-default" [innerHTML]="item.mobile_subject">
                                              </h2>
                                            </div>
                                          </div>
                                          <div class="elementor-element elementor-element-6b59096 elementor-arrows-position-inside elementor-widget elementor-widget-image-carousel" data-id="6b59096" data-element_type="widget" data-settings="{&quot;slides_to_show&quot;:&quot;1&quot;,&quot;navigation&quot;:&quot;arrows&quot;,&quot;autoplay&quot;:&quot;yes&quot;,&quot;pause_on_hover&quot;:&quot;yes&quot;,&quot;pause_on_interaction&quot;:&quot;yes&quot;,&quot;autoplay_speed&quot;:5000,&quot;infinite&quot;:&quot;yes&quot;,&quot;effect&quot;:&quot;slide&quot;,&quot;speed&quot;:500}" data-widget_type="image-carousel.default">
                                            <div class="elementor-widget-container">
                                              <div class="elementor-image-carousel-wrapper swiper-container" dir="ltr">
                                                <div class="elementor-image-carousel swiper-wrapper">
                                                  <div class="swiper-slide">
                                                    <figure class="swiper-slide-inner">
                                                      <img class="swiper-slide-image" src="{{item.images[0].img}}" alt="distributed-systems" />
                                                    </figure>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="elementor-element elementor-element-b4d048f elementor-widget elementor-widget-text-editor" data-id="b4d048f" data-element_type="widget" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                              <div class="elementor-text-editor elementor-clearfix" [innerHTML]="item.summary">
                                               
                                              </div>
                                            </div>
                                          </div>
                                          <div class="elementor-element elementor-element-eedb3e7 elementor-mobile-align-center elementor-widget elementor-widget-button" data-id="eedb3e7" data-element_type="widget" data-widget_type="button.default">
                                            <div class="elementor-widget-container">
                                              <div class="elementor-button-wrapper">
                                                <a href="#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6Ijc0NiIsInRvZ2dsZSI6ZmFsc2V9" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                                  <span class="elementor-button-content-wrapper">
                                                    <span class="elementor-button-text">ENQUIRE NOW</span>
                                                  </span>
                                                </a>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                  <div class="theplus-tabs-nav-wrapper elementor-tabs-wrapper text-left  ">
                    <ul class="plus-tabs-nav   full-width  ">
                      <li *ngFor="let item of groupData; index as i">
                        <div id="elementor-tab-title-8631" class="elementor-tab-title elementor-tab-desktop-title plus-tab-header" attr.data-tab="{{i+1}}" tabindex="{{i+1}}" role="tab" aria-controls="elementor-tab-content-8631">
                          <span>{{item.images[0].title}}</span>
                        </div>
                        <div class="tab-sep-icon ">
                          <i class="tab-between-icon fa fa-minus"></i>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-be57f40" data-id="be57f40" data-element_type="column">
        <div class="elementor-column-wrap">
          <div class="elementor-widget-wrap"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!---start mobile reactive-->