
.about-background{
    background-image: url(/assets/images/002-02-background-3.jpg) !important;
    background-position: center center !important;
   
}
.about-background1{
    background-image: url(/assets/images/003-01Background-.jpg) !important;
    background-position: center center !important;
}
.white-font{
    color: #ffffff !important;
}
.nav-bar{
    justify-content: center !important;
}
.express-button{
    cursor: pointer !important;
}

.service-title{
    font-size: 1vw !important;
    color: red;
    font-weight: 400 !important;
}
h2 p{
    margin-bottom: 0px !important;
}

.width-10{
    width:10% !important;
}
.width-20{
    width:20% !important;
}
.width-30{
    width:30% !important;
}
.width-60{
    width:60% !important;
}
.width-70{
    width:70% !important;
}
.width-80{
    width:80% !important;
}