
.partner-image{
    width: 270px !important;
    height: 150px !important
}
.image-container{
    text-align: center !important;
}
.privacy-background{
    background-image: url(/assets/images/Background-2.jpg) !important;
    background-position: center center !important;
   
}
.col-15{
    width: 15% !important;
}
.col-70{
    width: 70% !important;
}
.terms-subject{
    font-size: 3.9vw !important
}
::marker{
    color:red;
}