
<link rel='stylesheet' id='theplus-front-css-css' href='/assets/css/theplus-post-167.min.css?ver=1620373758' media='all' />
<link rel='stylesheet' id='elementor-post-167-css' href='/assets/css/post-167.css?ver=1620373758' media='all' />
<link rel='stylesheet' id='elementor-post-1948-css' href='/assets/css/post-1948.css?ver=1616598243' media='all' />
<link rel='stylesheet' id='elementor-post-1929-css' href='/assets/css/post-1929.css?ver=1616598243' media='all' />
<link rel='stylesheet' id='elementor-post-1959-css' href='/assets/css/post-1959.css?ver=1616598243' media='all' />
<link rel='stylesheet' id='elementor-post-1975-css' href='/assets/css/post-1975.css?ver=1616598243' media='all' />
<link rel='stylesheet' id='elementor-post-1982-css' href='/assets/css/post-1982.css?ver=1616598243' media='all' />
<link rel='stylesheet' id='elementor-post-5172-css' href='/assets/css/post-5172.css?ver=1616598244' media='all' />


<div data-elementor-type="header" data-elementor-id="34" class="elementor elementor-34 elementor-location-header" data-elementor-settings="[]">   
</div>


<div id="content" class="site-content">
    <div class="ast-container">
      <div id="primary" class="content-area primary">
        <main id="main" class="site-main">
   
            <app-privacy id="scroll"></app-privacy>
       
            <app-homejoin></app-homejoin>
        </main>
      </div>
    </div>
</div>


<app-common></app-common>
