

<section class="elementor-section elementor-top-section elementor-element elementor-element-115f8e6 elementor-section-full_width elementor-hidden-phone elementor-section-height-default elementor-section-height-default" data-id="115f8e6" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
  <div class="elementor-container elementor-column-gap-no">
    <div class="elementor-row">
      <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2ef8f7f" data-id="2ef8f7f" data-element_type="column">
        <div class="elementor-column-wrap elementor-element-populated">
          <div class="elementor-widget-wrap">
            <section class="elementor-section elementor-inner-section elementor-element elementor-element-6059e89 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="6059e89" data-element_type="section">
              <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-row">
                  <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-da2e9ba" data-id="da2e9ba" data-element_type="column">
                    <div class="elementor-column-wrap elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-1d257f4 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="1d257f4" data-element_type="widget" data-widget_type="divider.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-divider">
                              <span class="elementor-divider-separator"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-c2a9520" data-id="c2a9520" data-element_type="column">
                    <div class="elementor-column-wrap elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-c03c003 elementor-widget elementor-widget-heading" data-id="c03c003" data-element_type="widget" data-widget_type="heading.default">
                          <div class="elementor-widget-container">
                            <h4 class="elementor-heading-title elementor-size-default">Find Out About</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-81d1570" data-id="81d1570" data-element_type="column">
                    <div class="elementor-column-wrap elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-40f3200 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="40f3200" data-element_type="widget" data-widget_type="divider.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-divider">
                              <span class="elementor-divider-separator"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <div class="elementor-element elementor-element-d711846 elementor-widget elementor-widget-heading" data-id="d711846" data-element_type="widget" data-widget_type="heading.default">
              <div class="elementor-widget-container">
                <h2 class="elementor-heading-title elementor-size-default">Our team</h2>
              </div>
            </div>
            <div class="elementor-element elementor-element-bb216c0 elementor-tabs-view-horizontal elementor-widget elementor-widget-tp-tabs-tours" data-id="bb216c0" data-element_type="widget" data-widget_type="tp-tabs-tours.default">
              <div class="elementor-widget-container">
                <div class="theplus-tabs-wrapper elementor-tabs   " id="tabs63182d15092a5" data-tabs-id="tabs63182d15092a5" data-connection="" data-tab-default="0" data-tab-hover="no" role="tablist">
                  <div  class="theplus-tabs-content-wrapper elementor-tabs-content-wrapper">
                    <ng-container *ngFor="let member of members; index as i">
                        <div class="elementor-tab-title elementor-tab-mobile-title text-center" attr.tabindex="{{i+1}}" attr.data-tab="{{i+1}}" role="tab">
                          <span>{{member.firstName}}</span>
                        </div>
                        <div id="elementor-tab-content-1965" class="elementor-tab-content elementor-clearfix plus-tab-content" attr.data-tab="{{i+1}}" role="tabpanel" aria-labelledby="elementor-tab-title-1965">
                          <div class="plus-content-editor">
                            <div data-elementor-type="page" data-elementor-id="1948" class="elementor elementor-1948" data-elementor-settings="[]">
                              <div class="elementor-inner">
                                <div class="elementor-section-wrap">
                                  <section class="elementor-section elementor-top-section elementor-element elementor-element-709c676 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="709c676" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                    <div class="elementor-container elementor-column-gap-no">
                                      <div class="elementor-row">
                                        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-c4cce44" data-id="c4cce44" data-element_type="column">
                                          <div class="elementor-column-wrap">
                                            <div class="elementor-widget-wrap"></div>
                                          </div>
                                        </div>
                                        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-3bd30f1" data-id="3bd30f1" data-element_type="column">
                                          <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                              <div class="elementor-element elementor-element-b8e8188 elementor-widget elementor-widget-spacer" data-id="b8e8188" data-element_type="widget" data-widget_type="spacer.default">
                                                <div class="elementor-widget-container">
                                                  <div class="elementor-spacer">
                                                    <div class="elementor-spacer-inner"></div>
                                                  </div>
                                                </div>
                                              </div>
                                              <section class="elementor-section elementor-inner-section elementor-element elementor-element-48c0079 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="48c0079" data-element_type="section">
                                                <div class="elementor-container elementor-column-gap-no">
                                                  <div class="elementor-row">
                                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-326f7d8" data-id="326f7d8" data-element_type="column">
                                                      <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                          <div class="elementor-element elementor-element-99d7f1c elementor-widget elementor-widget-image" data-id="99d7f1c" data-element_type="widget" data-widget_type="image.default">
                                                            <div class="elementor-widget-container">
                                                              <div class="elementor-image">
                                                                <img width="748" height="537" src="{{member.image}}" class="attachment-large size-large" alt="ICSLeadership Team | Barrett Simmons, Business Development" loading="lazy" srcset="{{member.image}} 748w, {{member.image}} 300w" sizes="(max-width: 748px) 100vw, 748px" />
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6d39258" data-id="6d39258" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                                      <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class=" name-area elementor-widget-wrap">
                                                          <div class="elementor-element elementor-element-1f5889d elementor-widget elementor-widget-heading" data-id="1f5889d" data-element_type="widget" data-widget_type="heading.default">
                                                            <div class="elementor-widget-container">
                                                              <h3 class=" full-name elementor-heading-title elementor-size-default">{{member.firstName}} &nbsp;{{member.lastName}}</h3>
                                                            </div>
                                                          </div>
                                                          <div class="elementor-element elementor-element-153b84c elementor-widget elementor-widget-heading" data-id="153b84c" data-element_type="widget" data-widget_type="heading.default">
                                                            <div class="elementor-widget-container">
                                                              <h5 class="major elementor-heading-title elementor-size-default">{{member.major}}</h5>
                                                            </div>
                                                          </div>
                                                          <div class="elementor-element elementor-element-dbf205a scroll-box elementor-widget elementor-widget-text-editor" data-id="dbf205a" data-element_type="widget" data-widget_type="text-editor.default">
                                                            <div class="elementor-widget-container">
                                                              <div class="elementor-text-editor elementor-clearfix">
                                                                <div [innerHTML]="member.summary"></div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </section>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-1e5dad5" data-id="1e5dad5" data-element_type="column">
                                          <div class="elementor-column-wrap">
                                            <div class="elementor-widget-wrap"></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </section>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </ng-container>
                    
                  </div>
                  <div class="theplus-tabs-nav-wrapper elementor-tabs-wrapper text-center  ">
                    <ul class="plus-tabs-nav     ">
                        <li *ngFor="let member of members; index as i">
                          <div id="elementor-tab-title-{{i+1}}" class="elementor-tab-title elementor-tab-desktop-title plus-tab-header" attr.data-tab="{{i+1}}" attr.tabindex="{{i+1}}" role="tab" >
                            <span>{{member.firstName}}</span>
                          </div>
                          <div class="tab-sep-icon ">
                            <i class="tab-between-icon fa fa-minus"></i>
                          </div>
                        </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!----start mobile reactive---->
<section class="elementor-section elementor-top-section elementor-element elementor-element-ba6bb09 elementor-section-full_width elementor-hidden-desktop elementor-hidden-tablet elementor-section-height-default elementor-section-height-default" data-id="ba6bb09" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
  <div class="elementor-container elementor-column-gap-no">
    <div class="elementor-row">
      <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1608cd1" data-id="1608cd1" data-element_type="column">
        <div class="elementor-column-wrap elementor-element-populated">
          <div class="elementor-widget-wrap">
            <section class="elementor-section elementor-inner-section elementor-element elementor-element-8f58ac4 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="8f58ac4" data-element_type="section">
              <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-row">
                  <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-cee41ca" data-id="cee41ca" data-element_type="column">
                    <div class="elementor-column-wrap elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-5678e42 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="5678e42" data-element_type="widget" data-widget_type="divider.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-divider">
                              <span class="elementor-divider-separator"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-7e72dbc" data-id="7e72dbc" data-element_type="column">
                    <div class="elementor-column-wrap elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-edd9958 elementor-widget elementor-widget-heading" data-id="edd9958" data-element_type="widget" data-widget_type="heading.default">
                          <div class="elementor-widget-container">
                            <h4 class="elementor-heading-title elementor-size-default">Find Out About</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-bc550e5" data-id="bc550e5" data-element_type="column">
                    <div class="elementor-column-wrap elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-4a0aea3 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="4a0aea3" data-element_type="widget" data-widget_type="divider.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-divider">
                              <span class="elementor-divider-separator"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <div class="elementor-element elementor-element-36f3078 elementor-widget elementor-widget-heading" data-id="36f3078" data-element_type="widget" data-widget_type="heading.default">
              <div class="elementor-widget-container">
                <h2 class="elementor-heading-title elementor-size-default">Our team</h2>
              </div>
            </div>
            <div class="elementor-element elementor-element-e807c32 elementor-tabs-view-horizontal elementor-widget elementor-widget-tp-tabs-tours" data-id="e807c32" data-element_type="widget" data-widget_type="tp-tabs-tours.default">
              <div class="elementor-widget-container">
                <div class="theplus-tabs-wrapper elementor-tabs   " id="tabs63182d1583fde" data-tabs-id="tabs63182d1583fde" data-connection="" data-tab-default="0" data-tab-hover="no" role="tablist">
                  <div  class="theplus-tabs-content-wrapper elementor-tabs-content-wrapper">
                    <ng-container *ngFor="let member of members; index as i">
                      <div class="elementor-tab-title elementor-tab-mobile-title text-center" tabindex="{{i+1}}" attr.data-tab="{{i+1}}" role="tab">
                        <span>{{member.firstName}} </span>
                      </div>
                      <div id="elementor-tab-content-2435" class="elementor-tab-content elementor-clearfix plus-tab-content" [ngClass]="{'active': i == 0 }" attr.data-tab="{{i+1}}" role="tabpanel" aria-labelledby="elementor-tab-title-2435">
                        <div class="plus-content-editor">
                          <div data-elementor-type="page" data-elementor-id="1948" class="elementor elementor-1948" data-elementor-settings="[]">
                            <div class="elementor-inner">
                              <div class="elementor-section-wrap">
                                <section class="elementor-section elementor-top-section elementor-element elementor-element-709c676 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="709c676" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                  <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-row">
                                      <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-c4cce44" data-id="c4cce44" data-element_type="column">
                                        <div class="elementor-column-wrap">
                                          <div class="elementor-widget-wrap"></div>
                                        </div>
                                      </div>
                                      <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-3bd30f1" data-id="3bd30f1" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                          <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-b8e8188 elementor-widget elementor-widget-spacer" data-id="b8e8188" data-element_type="widget" data-widget_type="spacer.default">
                                              <div class="elementor-widget-container">
                                                <div class="elementor-spacer">
                                                  <div class="elementor-spacer-inner"></div>
                                                </div>
                                              </div>
                                            </div>
                                            <section class="elementor-section elementor-inner-section elementor-element elementor-element-48c0079 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="48c0079" data-element_type="section">
                                              <div class="elementor-container elementor-column-gap-no">
                                                <div class="elementor-row">
                                                  <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-326f7d8" data-id="326f7d8" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                      <div class="elementor-widget-wrap">
                                                        <div class="elementor-element elementor-element-99d7f1c elementor-widget elementor-widget-image" data-id="99d7f1c" data-element_type="widget" data-widget_type="image.default">
                                                          <div class="elementor-widget-container">
                                                            <div class="elementor-image">
                                                              <img width="748" height="537" src="{{member.image}}" class="attachment-large size-large" alt="ICSLeadership Team | Barrett Simmons, Business Development" loading="lazy" srcset="{{member.image}} 748w, {{member.image}} 300w" sizes="(max-width: 748px) 100vw, 748px" data-xblocker="passed" style="visibility: visible;">
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6d39258" data-id="6d39258" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                      <div class="elementor-widget-wrap">
                                                        <div class="elementor-element elementor-element-1f5889d elementor-widget elementor-widget-heading" data-id="1f5889d" data-element_type="widget" data-widget_type="heading.default">
                                                          <div class="elementor-widget-container">
                                                            <h3 class="elementor-heading-title elementor-size-default">{{member.firstName}}&nbsp;{{member.lastName}}</h3>
                                                          </div>
                                                        </div>
                                                        <div class="elementor-element elementor-element-153b84c elementor-widget elementor-widget-heading" data-id="153b84c" data-element_type="widget" data-widget_type="heading.default">
                                                          <div class="elementor-widget-container">
                                                            <h5 class="elementor-heading-title elementor-size-default">{{member.major}}</h5>
                                                          </div>
                                                        </div>
                                                        <div class="elementor-element elementor-element-dbf205a scroll-box elementor-widget elementor-widget-text-editor" data-id="dbf205a" data-element_type="widget" data-widget_type="text-editor.default">
                                                          <div class="elementor-widget-container">
                                                            <div class="elementor-text-editor elementor-clearfix" [innerHTML]="member.summary">
                                                              
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </section>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-1e5dad5" data-id="1e5dad5" data-element_type="column">
                                        <div class="elementor-column-wrap">
                                          <div class="elementor-widget-wrap"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </section>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                  <div class="theplus-tabs-nav-wrapper elementor-tabs-wrapper text-center  ">
                    <ul class="plus-tabs-nav   full-width  ">
                      <li *ngFor="let member of members; index as i">
                        <div id="elementor-tab-title-2431" class="elementor-tab-title elementor-tab-desktop-title plus-tab-header" [ngClass]="{'active': i == 0 }" attr.data-tab="{{i+1}}" tabindex="{{i+1}}" role="tab" attr.aria-controls="elementor-tab-content-{{i+1}}">
                          <span>{{member.firstName}}</span>
                        </div>
                        <div class="tab-sep-icon ">
                          <i class="tab-between-icon fa fa-minus"></i>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!----end mobile reactive---->