<link rel="stylesheet" href="/assets/css/admin/main.css" media="all">
<link rel="stylesheet" href="/assets/css/admin/bootstrap.css" media="all">

<div class="login-form-flex">
	<div class="login-main-panel">
		<div class="login-header">
			<div><img src="/assets/img/user.png"/></div>
			<div class="login-notify">PLEASE LOGIN.</div>
		</div>
		<mat-tab-group dynamicHeight>
			<mat-tab label="Login"><div class="tab-panel">
				<form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
					<div class="form-content">

						<mat-form-field class="full-width">
							<mat-label>Username: </mat-label>
							<input matInput placeholder="Please input username." name="username" formControlName="username">
						</mat-form-field>

						<mat-form-field class="full-width">
							<mat-label>Password: </mat-label>
							<input matInput placeholder="Please input password." name="password" 
							type="password" formControlName="password">
						</mat-form-field>
					</div>
					<div >
						<ng-container *ngIf="loggingIn; else loggedIn">
							<button class="login-btn logging-btn" mat-raised-button disabled>
								<div class="logging-img"><img src="/assets/img/spinners/ajax-loader2.gif" style="display:inline-block; justify-content: center;" title="Logging"></div>								
								<div class="logging-text">Logging</div>																
							</button>
						</ng-container>
						<ng-template #loggedIn>
							<button class="login-btn" mat-raised-button color="primary" >Login</button>
						</ng-template>
					</div>
				</form>
			</div></mat-tab>

			<mat-tab label="Register"><div class="tab-panel">
				<form [formGroup]="registerForm"  (ngSubmit)="onSubmitRegister()">
					<div class="form-content">

						<mat-form-field class="full-width">
							<mat-label>Username: </mat-label>
							<input matInput placeholder="Please input username." name="reg_username" formControlName="reg_username">
						</mat-form-field>

						<mat-form-field class="full-width">
							<mat-label>Email: </mat-label>
							<input matInput placeholder="Please input Email." name="reg_email" formControlName="reg_email">
						</mat-form-field>

						<mat-form-field class="full-width">
							<mat-label>Password: </mat-label>
							<input matInput placeholder="Please input password." name="reg_password" 
								type="password" formControlName="reg_password">
						</mat-form-field>

						<mat-form-field class="full-width">
							<mat-label>Confirm Password: </mat-label>
							<input matInput placeholder="Please input confirm password." 
								name="reg_confirm_pass" type="password" formControlName="reg_confirm_pass" [errorStateMatcher]="matcher">
						</mat-form-field>						
					</div>

					<div class="action-panel">
						<button class="login-btn" mat-raised-button color="primary">Register</button>
					</div>
				</form>
			</div></mat-tab>
		</mat-tab-group>
	</div>
</div>
