
<article class="post-167 page type-page status-publish ast-article-single" id="post-167" itemtype="https://schema.org/CreativeWork" itemscope="itemscope">
  <header class="entry-header ast-header-without-markup"></header>
  <!-- .entry-header -->
  <div class="entry-content clear" itemprop="text">
    <div data-elementor-type="wp-page" data-elementor-id="167" class="elementor elementor-167" data-elementor-settings="[]">
      <div class="elementor-inner">
        <div class="elementor-section-wrap">
          <section class="elementor-section elementor-top-section elementor-element elementor-element-6ec6078 elementor-section-height-full elementor-section-items-stretch elementor-section-content-space-between elementor-section-boxed elementor-section-height-default" data-id="6ec6078" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" style="background-image: url({{bgImg}});background-position: center left">
            <div class="elementor-container elementor-column-gap-default" style="max-width:2000px">
                <div class="elementor-row">
                  <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e714118" data-id="e714118" data-element_type="column">
                    <div class="elementor-column-wrap elementor-element-populated" style="padding: 10px !important;">
                      <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-393d2b6 elementor-widget elementor-widget-spacer" data-id="393d2b6" data-element_type="widget" data-widget_type="spacer.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-spacer">
                              <div class="elementor-spacer-inner"></div>
                            </div>
                          </div>
                        </div>
                        <div class="elementor-element elementor-element-5d2e090 elementor-widget elementor-widget-heading" data-id="5d2e090" data-element_type="widget" data-widget_type="heading.default">
                          <div class="elementor-widget-container" >
                            <h1 class="market-logo" [innerHTML]="title"></h1>
                          </div>
                        </div>
                        <div class="elementor-element elementor-element-485e6a5 elementor-hidden-desktop elementor-hidden-tablet elementor-widget elementor-widget-spacer" data-id="485e6a5" data-element_type="widget" data-widget_type="spacer.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-spacer">
                              <div class="elementor-spacer-inner"></div>
                            </div>
                          </div>
                        </div>
                        <div (click)="onMousey()" data-tp-sc-link="#scroll" data-tp-sc-link-external="" style="cursor: pointer" class="elementor-element elementor-element-b1a73f4 elementor-hidden-phone elementor-widget elementor-widget-ucaddon_animated_mouse_scroll_icon" data-id="b1a73f4" data-element_type="widget" data-widget_type="ucaddon_animated_mouse_scroll_icon.default">
                          <div class="elementor-widget-container">
                            <!-- start Animated Mouse Scroll Icon -->                                     
                            <div class="scroll-downs" style="text-align:center;">
                              <div class="mousey">
                                <div class="scroller" title="ICS | Mouse/Site Scroller" ></div>
                              </div>
                            </div>
                            <!-- end Animated Mouse Scroll Icon -->
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
      </div>
    </div>
  </div>
</article>