
.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
    background: bisque;
    color: brown;
    margin-left: 10px;
}
.card {
    border: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 6px;
    color: #333333;
    background: #fff;
    width: 100%;
}
.card .card-body + .card-footer, .card .card-footer {
    padding: 0;
    padding-top: 10px;
    margin: 0 15px 10px;
    border-radius: 0;
    justify-content: center;
    align-items: center;
}
.card [class*=card-header-] .card-icon, .card [class*=card-header-] .card-text {
    border-radius: 3px;
    background-color: #999999;
    padding: 15px;
    margin-top: -30px;
    margin-right: 15px;
    float: left;
}
.form-control, .is-focused .form-control {
    background-image: linear-gradient(to top, #f7c68f00 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}
.mt10 {
    margin-top: 10px !important;
}
.mt30 {
    margin-top: 30px !important;
}
.mb10 {
    margin-bottom: 10px !important;
}
.center {
    text-align: center;
}
.demo-stepper {
    background-color: #ececec !important;
    border-radius: 5px;
}
.mat-horizontal-stepper-header-container {
    background-color: #44a37a !important;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 50px;
}

.mat-accordion .mat-expansion-panel{
    margin-bottom: 10px;
}
.mat-expansion-panel-header-title {
    color: white;
    font-size: 16px;
}
.mat-expansion-panel-header {
    border: 1px solid #617181;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: rgb(46, 138, 231) !important;
}
.mat-expansion-panel-header:hover {
    background-color: rgb(82, 158, 235) !important;
}
.mat-expansion-indicator:after {
    color: white !important;
}

.mat-stepper-horizontal {
    margin-top: 10px;
}
.mat-expansion-panel-header.mat-expanded {
    height: 50px;
}
.mat-accordion .mat-expansion-panel:first-of-type,
.mat-accordion .mat-expansion-panel:last-of-type {
    border-radius: 0px;
}
.mat-expansion-panel-spacing {
    margin: 0px;
}
.no-article {
    text-align: center;
    margin-top: -35px;
}

/* Control bar's css, in blog edit section */
.func-btn-bar {
    text-align: right;
}
/* .pgnation-bar {
    text-align: left;
} */
