



<div data-elementor-type="header" data-elementor-id="34" class="elementor elementor-34 elementor-location-header" data-elementor-settings="[]">
   
  </div>


<div id="content" class="site-content">
    <div class="ast-container">
      <div id="primary" class="content-area primary">
        <main id="main" class="site-main">
   
            <app-story id="scroll" [services]="services"></app-story>

            <div id="content" class="site-content">
            <div class="ast-container">
                <div id="primary" class="content-area primary">
                <main id="main" class="site-main">
                    <article class="post-17 page type-page status-publish ast-article-single" id="post-17" itemtype="https://schema.org/CreativeWork" itemscope="itemscope">
                    <header class="entry-header ast-header-without-markup"></header>
                    <!-- .entry-header -->
                    <div class="entry-content clear" itemprop="text">
                        <div data-elementor-type="wp-page" data-elementor-id="17" class="elementor elementor-17" data-elementor-settings="[]">
                        <div class="elementor-inner">
                            <div class="elementor-section-wrap">
                                <section class="elementor-section elementor-top-section elementor-element elementor-element-d4c47e5 site-header elementor-hidden-desktop elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="d4c47e5" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                    <div class="elementor-container elementor-column-gap-no">
                                
                                      
                                    </div>
                                </section>
                                <app-homesolution [solutions]="solutions" ></app-homesolution>                  
                                <app-market [markets]="markets" ></app-market> 
                                <app-partner></app-partner>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- .entry-content .clear -->
                    </article>
                    <!-- #post-## -->
                </main>
                <!-- #main -->
                </div>
                <!-- #primary -->
            </div>
            <!-- ast-container -->
            </div>
       
            <app-homejoin></app-homejoin>
        </main>
      </div>
    </div>
</div>

<app-common></app-common>