





<section class="elementor-section elementor-top-section elementor-element elementor-element-cf35c4d elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="cf35c4d" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
  <div class="elementor-container elementor-column-gap-no">
    <div class="elementor-row">
      <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-3869455" data-id="3869455" data-element_type="column">
        <div class="elementor-column-wrap">
          <div class="elementor-widget-wrap"></div>
        </div>
      </div>
      <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-11e11fc" data-id="11e11fc" data-element_type="column">
        <div class="elementor-column-wrap elementor-element-populated">
          <div class="elementor-widget-wrap">
            <section class="elementor-section elementor-inner-section elementor-element elementor-element-6c4ef48 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="6c4ef48" data-element_type="section">
              <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-row">
                  <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-2bebb6a" data-id="2bebb6a" data-element_type="column">
                    <div class="elementor-column-wrap elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-c2be710 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="c2be710" data-element_type="widget" data-widget_type="divider.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-divider">
                              <span class="elementor-divider-separator"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-177141f" data-id="177141f" data-element_type="column">
                    <div class="elementor-column-wrap elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-5b23151 elementor-widget elementor-widget-heading" data-id="5b23151" data-element_type="widget" data-widget_type="heading.default">
                          <div class="elementor-widget-container">
                            <h4 class="elementor-heading-title elementor-size-default">Who We Work With </h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-5a0e1a2" data-id="5a0e1a2" data-element_type="column">
                    <div class="elementor-column-wrap elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-aa51875 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="aa51875" data-element_type="widget" data-widget_type="divider.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-divider">
                              <span class="elementor-divider-separator"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <div class="elementor-element elementor-element-d4e2aa4 elementor-hidden-phone elementor-widget elementor-widget-heading" data-id="d4e2aa4" data-element_type="widget" data-widget_type="heading.default">
              <div class="elementor-widget-container">
                <h2 class="elementor-heading-title elementor-size-default">Our Partners</h2>
              </div>
            </div>
            <div class="elementor-element elementor-element-e771494 elementor-hidden-desktop elementor-hidden-tablet elementor-widget elementor-widget-heading" data-id="e771494" data-element_type="widget" data-widget_type="heading.default">
              <div class="elementor-widget-container">
                <h2 class="elementor-heading-title elementor-size-default">Our <br> Partners </h2>
              </div>
            </div>
            <div class="elementor-element elementor-element-6d1e5c2 elementor-tabs-view-horizontal elementor-widget elementor-widget-tp-tabs-tours" data-id="6d1e5c2" data-element_type="widget" data-widget_type="tp-tabs-tours.default">
              <div class="elementor-widget-container">
                <div class="theplus-tabs-wrapper elementor-tabs   " id="tabs6318301098b24" data-tabs-id="tabs6318301098b24" data-connection="" data-tab-default="0" data-tab-hover="no" role="tablist">
                  <div class="theplus-tabs-content-wrapper elementor-tabs-content-wrapper">
                    <ng-container *ngFor="let tab of tabList; index as i">
                      <div class="elementor-tab-title elementor-tab-mobile-title text-center" tabindex="{{i+1}}" attr.data-tab="{{i+1}}" role="tab">
                        <span>{{tab}}</span>
                      </div>
                      <div id="elementor-tab-content-1141" class="elementor-tab-content elementor-clearfix plus-tab-content" attr.data-tab="{{i+1}}" role="tabpanel" aria-labelledby="elementor-tab-title-1141">
                        <div class="plus-content-editor">
                          <div data-elementor-type="section" data-elementor-id="1095" class="elementor elementor-1095" data-elementor-settings="[]">
                            <div class="elementor-section-wrap">
                              <section class="elementor-section elementor-top-section elementor-element elementor-element-19d572b elementor-section-full_width elementor-hidden-phone elementor-section-height-default elementor-section-height-default" data-id="19d572b" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-container elementor-column-gap-default">
                                  <div class="elementor-row">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e633f5a" data-id="e633f5a" data-element_type="column">
                                      <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                          <section *ngFor="let items of partners; let i=index; " class="elementor-section elementor-inner-section elementor-element elementor-element-6747753 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="6747753" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-default">
                                              <div class="elementor-row">
                                                <div *ngFor="let item of items; let i=index" class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-a42eedd" data-id="a42eedd" data-element_type="column">
                                                  <div class="elementor-column-wrap elementor-element-populated">
                                                    <div class="elementor-widget-wrap">
                                                      <div class="elementor-element elementor-element-dcc1400 elementor-widget elementor-widget-image" data-id="dcc1400" data-element_type="widget" data-widget_type="image.default">
                                                        <div class="elementor-widget-container" [ngClass]="{'image-center': i % 3 == 1}">
                                                          <div class="elementor-image" [ngClass]="{'image-right': i % 3 == 2}">
                                                            <img width="270" height="150" src="{{item.img}}" class="attachment-large size-large" alt="ICS Partners | Aiphone" loading="lazy" />
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </section>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section>

                              <!-- start mobile reactive-->
                              <section class="elementor-section elementor-top-section elementor-element elementor-element-c2102d5 elementor-section-full_width elementor-hidden-desktop elementor-hidden-tablet elementor-section-height-default elementor-section-height-default" data-id="c2102d5" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-container elementor-column-gap-default">
                                  <div class="elementor-row">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e89e46f" data-id="e89e46f" data-element_type="column">
                                      <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                          <section *ngFor="let items of mobile_partners; let i=index; " class="elementor-section elementor-inner-section elementor-element elementor-element-620e949 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="620e949" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-default">
                                              <div class="elementor-row">
                                                <div *ngFor="let item of items; let i=index" class="elementor-column elementor-col-16 elementor-inner-column elementor-element elementor-element-9640023" data-id="9640023" data-element_type="column">
                                                  <div class="elementor-column-wrap elementor-element-populated">
                                                    <div class="elementor-widget-wrap">
                                                      <div class="elementor-element elementor-element-6c8b793 elementor-widget elementor-widget-image" data-id="6c8b793" data-element_type="widget" data-widget_type="image.default">
                                                        <div class="image-center elementor-widget-container">
                                                          <div class="elementor-image">
                                                            <img src="{{item.img}}" title="" alt="" />
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </section>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section>
                              <!-- end mobile reactive-->
                            </div>
                          </div>
                        </div>
                      </div>

                    </ng-container>
                    
                    
                  </div>
                  <div class="theplus-tabs-nav-wrapper elementor-tabs-wrapper text-center  ">
                    <ul class="plus-tabs-nav     ">
                      <li *ngFor="let tab of tabList; index as i" (click)="nextPage($event)">
                        <div id="elementor-tab-title-1141" class="elementor-tab-title elementor-tab-desktop-title plus-tab-header" attr.data-tab="{{i+1}}" tabindex="{{i+1}}" role="tab" aria-controls="elementor-tab-content-1141">
                          <span>{{tab}}</span>
                        </div>
                        <div class="tab-sep-icon ">
                          <i class="tab-between-icon fa fa-minus"></i>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-e950c2a" data-id="e950c2a" data-element_type="column">
        <div class="elementor-column-wrap">
          <div class="elementor-widget-wrap"></div>
        </div>
      </div>
    </div>
  </div>
</section>