




<link rel='stylesheet' id='theplus-front-css-css' href='/assets/css/theplus-post-167.min.css?ver=1620373758' media='all' />
<link rel='stylesheet' id='elementor-post-167-css' href='/assets/css/post-167.css?ver=1620373758' media='all' />

<link rel='stylesheet' id='elementor-post-680-css'  href='/assets/css/post-998.css?ver=1675733600' media='all' />







<a class="skip-link screen-reader-text" href="#content" role="link" title="Skip to content">Skip to content</a>


  <div data-elementor-type="header" data-elementor-id="34" class="elementor elementor-34 elementor-location-header" data-elementor-settings="[]">

  </div>
  <div id="content" class="site-content">
    <div class="ast-container">
      <div data-elementor-type="archive" data-elementor-id="998" class="elementor elementor-998 elementor-location-archive" data-elementor-settings="[]">
        <div class="elementor-section-wrap" id="scroll">
          
            <section class="elementor-section elementor-top-section elementor-element elementor-element-41aad3f elementor-section-boxed elementor-section-height-default elementor-section-height-default " data-id="41aad3f" data-element_type="section" >
                <div class="elementor-container elementor-column-gap-default">
                  
                  <div class="blog-detail elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-da20e02" data-id="da20e02" data-element_type="column" >
                    <div class="elementor-widget-wrap elementor-element-populated">
                      <section class="elementor-section elementor-inner-section elementor-element elementor-element-4b32843 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4b32843" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                          <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-43e5973" data-id="43e5973" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                              <div class="elementor-element elementor-element-06fc4a0 elementor-align-left elementor-widget elementor-widget-post-info" data-id="06fc4a0" data-element_type="widget" data-widget_type="post-info.default">
                                <div class="elementor-widget-container">
                                  <ul class="elementor-inline-items elementor-icon-list-items elementor-post-info">
                                    <li class="elementor-icon-list-item elementor-repeater-item-34bb34d elementor-inline-item" itemprop="datePublished">
                                      <a href="/blog?postdt={{blog && blog.target_postdt}}">
                                        <span class="elementor-icon-list-text elementor-post-info__item elementor-post-info__item--type-date"> {{blog && blog.target_postdt}} </span>
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-8ff1d90" data-id="8ff1d90" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                              <div class="elementor-element elementor-element-87981a2 elementor-align-right elementor-widget elementor-widget-post-info" data-id="87981a2" data-element_type="widget" data-widget_type="post-info.default">
                                <div class="elementor-widget-container">
                                  <ul class="elementor-inline-items elementor-icon-list-items elementor-post-info">
                                    <li class="elementor-icon-list-item elementor-repeater-item-34bb34d elementor-inline-item" itemprop="about">
                                      <span class="elementor-icon-list-text elementor-post-info__item elementor-post-info__item--type-terms">
                                        <span class="elementor-post-info__terms-list">
                                          <a href="/blog?post={{blog && blog.target_relpost}}" class="elementor-post-info__terms-list-item">{{blog && blog.target_relpost}}</a>
                                        </span>
                                      </span>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                      <div class="elementor-element elementor-element-6f1245e elementor-widget elementor-widget-theme-post-title elementor-page-title elementor-widget-heading" data-id="6f1245e" data-element_type="widget" data-widget_type="theme-post-title.default">
                        <div class="elementor-widget-container">
                          <h3 class="elementor-heading-title elementor-size-default">{{blog && blog.target_title}}</h3>
                        </div>
                      </div>
                      <section class="elementor-section elementor-inner-section elementor-element elementor-element-035b4bc elementor-section-content-middle elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="035b4bc" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-no">
                          <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-731a622" data-id="731a622" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                              <div class="elementor-element elementor-element-00a9ff0 elementor-align-left elementor-widget elementor-widget-post-info" data-id="00a9ff0" data-element_type="widget" data-widget_type="post-info.default">
                                <div class="elementor-widget-container">
                                  <ul class="elementor-inline-items elementor-icon-list-items elementor-post-info">
                                    <li class="elementor-icon-list-item elementor-repeater-item-3cdf1e4 elementor-inline-item" itemprop="author">
                                      <a href="/blog?author={{blog && blog.target_author}}">
                                        <span class="elementor-icon-list-icon">
                                          <i aria-hidden="true" class="far fa-user-circle"></i>
                                        </span>
                                        <span class="elementor-icon-list-text elementor-post-info__item elementor-post-info__item--type-author">{{blog && blog.target_author}}</span>
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-9ff61a9" data-id="9ff61a9" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                              <div class="elementor-element elementor-element-f6d6e8a elementor-widget elementor-widget-heading" data-id="f6d6e8a" data-element_type="widget" data-widget_type="heading.default">
                                <div class="elementor-widget-container">
                                  <h6 class="elementor-heading-title elementor-size-default">SHARE</h6>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-97ee839" data-id="97ee839" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                              <div class="elementor-element elementor-element-64e60cd elementor-share-buttons--view-icon elementor-share-buttons--skin-framed elementor-share-buttons--shape-circle elementor-share-buttons--align-right elementor-share-buttons--color-custom elementor-share-buttons-mobile--align-right elementor-share-buttons-tablet--align-right elementor-grid-0 elementor-widget elementor-widget-share-buttons" data-id="64e60cd" data-element_type="widget" data-widget_type="share-buttons.default">
                                <div class="elementor-widget-container">
                                  <div class="elementor-grid">
                                    <div class="elementor-grid-item">
                                      <div class="elementor-share-btn elementor-share-btn_facebook">
                                        <span class="elementor-share-btn__icon">
                                          <i class="fab fa-facebook" aria-hidden="true"></i>
                                          <span class="elementor-screen-only">Share on facebook</span>
                                        </span>
                                      </div>
                                    </div>
                                    <div class="elementor-grid-item">
                                      <div class="elementor-share-btn elementor-share-btn_twitter">
                                        <span class="elementor-share-btn__icon">
                                          <i class="fab fa-twitter" aria-hidden="true"></i>
                                          <span class="elementor-screen-only">Share on twitter</span>
                                        </span>
                                      </div>
                                    </div>
                                    <div class="elementor-grid-item">
                                      <div class="elementor-share-btn elementor-share-btn_pinterest">
                                        <span class="elementor-share-btn__icon">
                                          <i class="fab fa-pinterest" aria-hidden="true"></i>
                                          <span class="elementor-screen-only">Share on pinterest</span>
                                        </span>
                                      </div>
                                    </div>
                                    <div class="elementor-grid-item">
                                      <div class="elementor-share-btn elementor-share-btn_linkedin">
                                        <span class="elementor-share-btn__icon">
                                          <i class="fab fa-linkedin" aria-hidden="true"></i>
                                          <span class="elementor-screen-only">Share on linkedin</span>
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                      <div class="elementor-element elementor-element-8d29e1d elementor-widget elementor-widget-theme-post-featured-image elementor-widget-image" data-id="8d29e1d" data-element_type="widget" data-widget_type="theme-post-featured-image.default">
                        <div class="elementor-widget-container">
                          <div class="elementor-image">
                            <img width="748" height="537"  decoding="async" data-src="{{blog && blog.target_images[0].img}}" data-sizes="(max-width: 748px) 100vw, 748px" class="attachment-large size-large lazyloaded" src="{{blog && blog.target_images[0].img}}" data-xblocker="passed" style="visibility: visible;" loading="lazy" sizes="(max-width: 748px) 100vw, 748px" >
                          </div>
                        </div>
                      </div>
                      <div class="elementor-element elementor-element-1a6501d elementor-widget elementor-widget-theme-post-content" data-id="1a6501d" data-element_type="widget" data-widget_type="theme-post-content.default">
                        <div class="elementor-widget-container" [innerHTML]="blog && blog.target_summary">
                         
                        </div>
                      </div>
                      <div class="elementor-element elementor-element-0b4def5 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="0b4def5" data-element_type="widget" data-widget_type="divider.default">
                        <div class="elementor-widget-container">
                          <div class="elementor-divider">
                            <span class="elementor-divider-separator"></span>
                          </div>
                        </div>
                      </div>
                      <div class="elementor-element elementor-element-414a7a1 elementor-widget elementor-widget-post-comments" data-id="414a7a1" data-element_type="widget" data-widget_type="post-comments.theme_comments">
                        <div class="elementor-widget-container">
                          <div id="comments" class="comments-area">
                            <div id="respond" class="comment-respond">
                              <h3 id="reply-title" class="comment-reply-title">Leave a Comment <small>
                                  <a rel="nofollow" id="cancel-comment-reply-link" href="javascript:void(0)" style="display:none;">Cancel Reply</a>
                                </small>
                              </h3>
                              <form action="" method="post" id="ast-commentform" class="comment-form">
                                <div class="ast-row comment-textarea">
                                  <fieldset class="comment-form-comment">
                                    <legend class="comment-form-legend"></legend>
                                    <div class="comment-form-textarea ast-col-lg-12">
                                      <label for="comment" class="screen-reader-text">Type here..</label>
                                      <textarea id="comment" name="comment" placeholder="Type here.." cols="45" rows="8" aria-required="true" data-dl-input-translation="true"></textarea>
                                      
                                        <template shadowrootmode="open">
                                         
                                          <div style="position: absolute; top: 0px; left: 0px; pointer-events: none; display: block;">
                                            <div style="box-sizing: content-box; top: 0px; left: 20px; width: 763px; height: 257px; position: relative; pointer-events: none; overflow: hidden; border: 0px; border-radius: 0px; padding: 0px; margin: 0px;"><div style="position: absolute; pointer-events: all; transition: right 0.2s ease-in-out 0s; width: 25px; height: 25px; bottom: 10px; right: 0px;"></div>
                                            </div>
                                          </div>
                                        </template>
                                     
                                    </div>
                                  </fieldset>
                                </div>
                                <div class="ast-comment-formwrap ast-row">
                                  <p class="comment-form-author ast-col-xs-12 ast-col-sm-12 ast-col-md-4 ast-col-lg-4">
                                    <label for="author" class="screen-reader-text">Name*</label>
                                    <input id="author" name="author" type="text" value="" placeholder="Name*" size="30" aria-required="true">
                                  </p>
                                  <p class="comment-form-email ast-col-xs-12 ast-col-sm-12 ast-col-md-4 ast-col-lg-4">
                                    <label for="email" class="screen-reader-text">Email*</label>
                                    <input id="email" name="email" type="text" value="" placeholder="Email*" size="30" aria-required="true">
                                  </p>
                                  <p class="comment-form-cookies-consent">
                                    <input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes">
                                    <label for="wp-comment-cookies-consent">Save my name, email, and website in this browser for the next time I comment.</label>
                                  </p>
                                  <p class="comment-form-url ast-col-xs-12 ast-col-sm-12 ast-col-md-4 ast-col-lg-4">
                                    <label for="url">
                                      <label for="url" class="screen-reader-text">Website</label>
                                      <input id="url" name="url" type="text" value="" placeholder="Website" size="30">
                                    </label>
                                  </p>
                                </div>
                                <p class="form-submit">
                                  <input name="submit" type="submit" id="submit" class="submit" value="Post Comment »" />                                 
                                </p>
                              </form>
                            </div>
                            <!-- #respond -->
                          </div>
                          <!-- #comments -->
                        </div>
                      </div>
                      <div class="elementor-element elementor-element-9305da9 elementor-widget elementor-widget-heading" data-id="9305da9" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container1">
                          <h6 class="elementor-heading-title elementor-size-default">Mandatory fields are marked with *</h6>
                        </div>
                      </div>
                      <div class="elementor-element elementor-element-01de197 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="01de197" data-element_type="widget" data-widget_type="divider.default">
                        <div class="elementor-widget-container">
                          <div class="elementor-divider">
                            <span class="elementor-divider-separator"></span>
                          </div>
                        </div>
                      </div>
                      <div class="elementor-element elementor-element-53adf86 elementor-post-navigation-borders-yes elementor-widget elementor-widget-post-navigation" data-id="53adf86" data-element_type="widget" data-widget_type="post-navigation.default">
                        <div class="elementor-widget-container">
                          <div class="elementor-post-navigation">
                            <div  class="elementor-post-navigation__prev elementor-post-navigation__link">    
                              <a *ngIf="blog && blog.prev_id" href="/blog/detail/{{blog && blog.prev_id}}" rel="prev">
                                <span class="post-navigation__arrow-wrapper post-navigation__arrow-prev">
                                  <i class="fa fa-angle-left" aria-hidden="true"></i>
                                  <span class="elementor-screen-only">Prev</span>
                                </span>
                                <span class="elementor-post-navigation__link__prev">
                                  <span class="post-navigation__prev--label">Previous Post </span>
                                  <span class="post-navigation__prev--title">{{blog && blog.prev_title.substring(0,10)}}</span>
                                </span>
                              </a>                            
                            </div>
                            <div class="elementor-post-navigation__separator-wrapper">
                                <div class="elementor-post-navigation__separator">                                    
                                </div>
                            </div>
                            <div  class="elementor-post-navigation__next elementor-post-navigation__link">
                                <a *ngIf="blog && blog.next_id" href="/blog/detail/{{blog && blog.next_id}}" rel="next">
                                    
                                    <span class="elementor-post-navigation__link__next">
                                      <span class="post-navigation__next--label">Next Post </span>
                                      <span class="post-navigation__next--title">{{blog && blog.next_title.substring(0,10)}}</span>
                                  </span>
                                    <span class="post-navigation__arrow-wrapper post-navigation__arrow-next">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        <span class="elementor-screen-only">Next</span>
                                    </span>
                                </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="elementor-element elementor-element-393e0dd elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="393e0dd" data-element_type="widget" data-widget_type="divider.default">
                        <div class="elementor-widget-container">
                          <div class="elementor-divider">
                            <span class="elementor-divider-separator"></span>
                          </div>
                        </div>
                      </div>
                      <div class="elementor-element elementor-element-d8da517 elementor-hidden-tablet elementor-widget elementor-widget-heading" data-id="d8da517" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                          <h4 class="elementor-heading-title elementor-size-default">Related Posts</h4>
                        </div>
                      </div>
                      <div class="elementor-element elementor-element-0d51b09 elementor-grid-1 elementor-grid-tablet-1 elementor-hidden-tablet elementor-posts--thumbnail-top elementor-grid-mobile-1 elementor-widget elementor-widget-posts" data-id="0d51b09" data-element_type="widget" data-settings="{&quot;custom_columns&quot;:&quot;1&quot;,&quot;custom_columns_tablet&quot;:&quot;1&quot;,&quot;custom_columns_mobile&quot;:&quot;1&quot;,&quot;custom_row_gap&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:35,&quot;sizes&quot;:[]}}" data-widget_type="posts.custom">
                        <div class="elementor-widget-container">
                          <div class="ecs-posts elementor-posts-container elementor-posts elementor-grid elementor-posts--skin-custom" data-settings="{&quot;current_page&quot;:1,&quot;max_num_pages&quot;:0,&quot;load_method&quot;:&quot;&quot;,&quot;widget_id&quot;:&quot;0d51b09&quot;,&quot;post_id&quot;:5486,&quot;theme_id&quot;:998}">
                            <div class="elementor-posts-nothing-found"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-2961d6e" data-id="2961d6e" data-element_type="column" >
                    <div class="elementor-widget-wrap"></div>
                  </div>
                  <div class="elementor-column elementor-col-30 elementor-top-column elementor-element elementor-element-8b78fa2" data-id="8b78fa2" data-element_type="column" >
                    <div class="elementor-widget-wrap elementor-element-populated">
                      <div class="elementor-element elementor-element-bcb7423 post-tag elementor-widget elementor-widget-wp-widget-tag_cloud" data-id="bcb7423" data-element_type="widget" data-widget_type="wp-widget-tag_cloud.default">
                        <div class="elementor-widget-container">
                          <h5>Post Tags</h5>
                          <nav aria-label="Post Tags">
                            <div class="tagcloud" *ngFor="let post of posts; index as i">
                                <a href="blog?post={{post}}" class="tag-cloud-link tag-link-16 tag-link-position-1" style="font-size: 13px;" aria-label="Control Rooms (1 item)">{{post}}</a>
                            </div>
                          </nav>
                        </div>
                      </div>
                      <div class="elementor-element elementor-element-e3c7e28 elementor-widget elementor-widget-wp-widget-archives" data-id="e3c7e28" data-element_type="widget" data-widget_type="wp-widget-archives.default">
                        <div class="elementor-widget-container">
                          <h5>Archives</h5>
                          <nav aria-label="Archives">
                            <ul>
                                <li *ngFor="let date of dates; index as i">
                                    <a href="/blog?monthdt={{date}}">{{date}}</a>
                                </li>                               
                            </ul>
                          </nav>
                        </div>
                      </div>
                    </div>
                  </div>
                 
                </div>
            </section>
         
        </div>
      </div>
    <!-- #primary -->
    </div>
  <!-- ast-container -->
  </div>
  <app-homejoin></app-homejoin>
<!-- #page -->

<app-common></app-common>
