
<div class="main-content">
    <div class="container-fluid" style="padding-top: 5px">
        <mat-accordion>
            <mat-expansion-panel [expanded]="true" *ngIf="this.catId==1">
                <mat-expansion-panel-header>
                    <mat-panel-title>Logo Image</mat-panel-title>
                </mat-expansion-panel-header>
                <div class="logo-panel">
                    <app-logo></app-logo>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>Introduction</mat-panel-title>
                </mat-expansion-panel-header>
                <div class="intro-panel">
                    <!-- Introduction Section -->
                    <app-intro-section 
                        [dt_record]="dt_intro" 
                        [url]="intro_url">
                    </app-intro-section>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>Content</mat-panel-title>
                </mat-expansion-panel-header>
                <div class="intro-panel">
                    <mat-stepper class="demo-stepper" #stepper [selectedIndex]="this.selectedStepperIndex">
                        <div *ngFor="let dt_record of dt_records; index as i; let first = first; let last = last">
                            <mat-step [stepControl]="firstFormGroup" mat-step-icon>
                                <ng-template matStepLabel>{{dt_record.title}}</ng-template>
                                <app-dtmng-section [url]="content_url" 
                                                  [dt_record]="dt_record" 
                                                  [e_no]="i" 
                                                  [dt_records]="dt_records"
                                                  [has_newBtn]="last || (first && dt_record.length == 1)?true:false"
                                                  
                                                  (createSectionEvent)="createSection($event)" 
                                                  (deleteSectionEvent)="deleteSection($event)" 
                                                  (saveSectionEvent)="saveSection($event)" ></app-dtmng-section>
                            </mat-step>
                        </div>
                    </mat-stepper>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>





      

      
  
  
  
  
  