
<div data-elementor-type="footer" id="footer" data-elementor-id="56" class="elementor elementor-56 elementor-location-footer" data-elementor-settings="[]">
    <div class="elementor-section-wrap">
        <section class="elementor-section elementor-top-section elementor-element elementor-element-65e6718 elementor-section-full_width elementor-section-height-min-height elementor-hidden-phone elementor-section-height-default elementor-section-items-middle" data-id="65e6718" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5e77149" data-id="5e77149" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-17b6f90 elementor-widget elementor-widget-heading" data-id="17b6f90" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h4 class="elementor-heading-title elementor-size-default">Careers</h4>		
                        </div>
                        </div>
                        <div class="elementor-element elementor-element-d06d06f elementor-widget elementor-widget-heading" data-id="d06d06f" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h2 class="elementor-heading-title elementor-size-default">Ready To Join</h2>		
                        </div>
                        </div>
                        <div class="elementor-element elementor-element-f79e5cf elementor-widget elementor-widget-heading" data-id="f79e5cf" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h4 class="elementor-heading-title elementor-size-default">Our Growing Team of Professionals?</h4>	
                        </div>
                        </div>
                        <div class="elementor-element elementor-element-1b1594d elementor-widget elementor-widget-spacer" data-id="1b1594d" data-element_type="widget" data-widget_type="spacer.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-spacer">
                            <div class="elementor-spacer-inner">                            
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="elementor-element elementor-element-407624b elementor-align-center elementor-widget elementor-widget-button" data-id="407624b" data-element_type="widget" data-widget_type="button.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-button-wrapper">
                            <a href="https://workforcenow.adp.com/mascsr/default/mdf/recruitment/recruitment.html?cid=a59d88e8-87a7-42c3-83ac-2de2200aefd4&#038;ccId=165919794_8471&#038;type=MP&#038;lang=en_US" target="_blank" rel="nofollow" title="Apply Now to Join Industrial Communication &amp;Sound (ICS)" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                <span class="elementor-button-content-wrapper">
                                <span class="elementor-button-text">Apply Now</span>
                                </span>
                            </a>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
          </div>
        </section>
    </div>
</div>