
<link rel='stylesheet' id='elementor-post-341-css' href='/assets/css/post-341.css?ver=1616598152' media='all' />
<link rel='stylesheet' id='elementor-post-740-css'  href='/assets/css/post-740.css?ver=1618898000' media='all' />

<div data-elementor-type="footer" data-elementor-id="740" class="elementor elementor-location-footer " class="{{currentPath.includes('contact')? 'elementor-341':'elementor-740'}}"  data-elementor-settings="[]">
    <div class="elementor-section-wrap">
      <ng-container *ngIf=" !currentPath.includes('contact') " >
          <section class="elementor-section elementor-top-section elementor-element elementor-element-745b93f elementor-section-full_width elementor-hidden-phone elementor-section-height-default elementor-section-height-default" data-id="745b93f" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-container elementor-column-gap-default">
              <div class="elementor-row">
                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-02371db" data-id="02371db" data-element_type="column">
                  <div class="elementor-column-wrap">
                    <div class="elementor-widget-wrap">
                    </div>
                  </div>
                </div>
                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-28decab" data-id="28decab" data-element_type="column">
                  <div class="elementor-column-wrap elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-11ddb27 elementor-widget elementor-widget-heading" data-id="11ddb27" data-element_type="widget" data-widget_type="heading.default">
                          <div class="elementor-widget-container">
                            <h4 class="elementor-heading-title elementor-size-default">Get In Touch With Us</h4>		
                          </div>
                        </div>
                        <div class="elementor-element elementor-element-068dce7 elementor-hidden-tablet elementor-widget elementor-widget-spacer" data-id="068dce7" data-element_type="widget" data-widget_type="spacer.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-spacer">
                              <div class="elementor-spacer-inner"></div>
                            </div>
                          </div>
                        </div>
                        <section class="elementor-section elementor-inner-section elementor-element elementor-element-26337c6 elementor-section-content-bottom elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="26337c6" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-no">
                              <div class="elementor-row">
                                <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-5a393ef" data-id="5a393ef" data-element_type="column">
                                  <div class="elementor-column-wrap elementor-element-populated">
                                      <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-e0532d3 elementor-widget elementor-widget-spacer" data-id="e0532d3" data-element_type="widget" data-widget_type="spacer.default">
                                          <div class="elementor-widget-container">
                                            <div class="elementor-spacer">
                                              <div class="elementor-spacer-inner"></div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="elementor-element elementor-element-9901564 elementor-widget elementor-widget-text-editor" data-id="9901564" data-element_type="widget" data-widget_type="text-editor.default">
                                          <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix margin-address">
                                                <div [innerHtml]="address1 && address1.address"></div>
                                                Phone:<span style="color: #ffffff;"> <a style="color: #ffffff;" href="tel:{{address1 && address1.phone}}">&nbsp;{{address1 && address1.phone}}</a></span>                                             
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-5812984" data-id="5812984" data-element_type="column">
                                  <div class="elementor-column-wrap elementor-element-populated">
                                      <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-e29a5c4 elementor-widget elementor-widget-image" data-id="e29a5c4" data-element_type="widget" data-widget_type="image.default">
                                          <div class="elementor-widget-container">
                                            <div class="elementor-image">
                                              <a href="/">
                                                <img width="284" height="140" src="/assets/images/ics-logo.png" class="attachment-large size-large" alt="Industrial Communication &amp; Sound (ICS) Logo"  />								
                                              </a>   
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-5ac321c" data-id="5ac321c" data-element_type="column">
                                  <div class="elementor-column-wrap elementor-element-populated">
                                      <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-fcae208 elementor-widget elementor-widget-spacer" data-id="fcae208" data-element_type="widget" data-widget_type="spacer.default">
                                          <div class="elementor-widget-container">
                                            <div class="elementor-spacer">
                                              <div class="elementor-spacer-inner"></div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="elementor-element elementor-element-5727ffe elementor-widget elementor-widget-text-editor" data-id="5727ffe" data-element_type="widget" data-widget_type="text-editor.default">
                                          <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix margin-address">
                                              <div [innerHtml]="address2 && address2.address"></div>
                                                Phone:<span style="color: #ffffff;"> <a style="color: #ffffff;" href="tel:{{address2 && address2.phone}}">&nbsp;{{address2 && address2.phone}}</a></span>  
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                        </section>
                        <div class="elementor-element elementor-element-0d76774 elementor-widget elementor-widget-spacer" data-id="0d76774" data-element_type="widget" data-widget_type="spacer.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-spacer">
                              <div class="elementor-spacer-inner"></div>
                            </div>
                          </div>
                        </div>
                        <div class="elementor-element elementor-element-5ab01a0 elementor-widget elementor-widget-heading" data-id="5ab01a0" data-element_type="widget" data-widget_type="heading.default">
                          <div class="elementor-widget-container">
                              <p class="elementor-heading-title elementor-size-default" [innerHTML]="address1 && address1.company_title"></p>
                          </div>
                        </div>
                        <div class="elementor-element elementor-element-a42f29e elementor-widget elementor-widget-spacer" data-id="a42f29e" data-element_type="widget" data-widget_type="spacer.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-spacer">
                              <div class="elementor-spacer-inner"></div>
                            </div>
                          </div>
                        </div>
                        <section class="elementor-section elementor-inner-section elementor-element elementor-element-5a9ad94 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5a9ad94" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                              <div class="elementor-row">
                                <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-a79416b" data-id="a79416b" data-element_type="column">
                                  <div class="elementor-column-wrap">
                                      <div class="elementor-widget-wrap">
                                      </div>
                                  </div>
                                </div>
                                <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-ee40ea2" data-id="ee40ea2" data-element_type="column">
                                  <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                      <div class="elementor-element elementor-element-7c96166 elementor-widget elementor-widget-image" data-id="7c96166" data-element_type="widget" data-widget_type="image.default">
                                        <div class="elementor-widget-container">
                                          <div class="elementor-image">
                                            <a href="https://ctleng.com/" target="_blank" rel="nofollow">
                                              <img width="246" height="126" src="/assets/images/ctl-engineering-logo.png" class="attachment-large size-large" alt="CTL Engineering, Inc Logo"  />								
                                            </a>                                                    
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-ca6c2cb" data-id="ca6c2cb" data-element_type="column">
                                  <div class="elementor-column-wrap">
                                      <div class="elementor-widget-wrap">
                                      </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                        </section>
                        <div class="elementor-element elementor-element-eff7d6b elementor-widget elementor-widget-spacer" data-id="eff7d6b" data-element_type="widget" data-widget_type="spacer.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-spacer">
                              <div class="elementor-spacer-inner"></div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-cf5a41d" data-id="cf5a41d" data-element_type="column">
                  <div class="elementor-column-wrap">
                      <div class="elementor-widget-wrap">
                      </div>
                  </div>
                </div>
              </div>
          </div>
          </section>

          <section class="elementor-section elementor-top-section elementor-element elementor-element-db692a3 elementor-section-height-min-height elementor-section-content-middle elementor-hidden-desktop elementor-hidden-tablet elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="db692a3" data-element_type="section" id="footer" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-65baf20" data-id="65baf20" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-af58782 elementor-widget elementor-widget-spacer" data-id="af58782" data-element_type="widget" data-widget_type="spacer.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-spacer">
                                    <div class="elementor-spacer-inner"></div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-0577899 elementor-widget elementor-widget-heading" data-id="0577899" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h4 class="elementor-heading-title elementor-size-default">Careers</h4>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-f0efe6b elementor-widget elementor-widget-heading" data-id="f0efe6b" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">Ready To Join</h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-5c077b5 elementor-widget elementor-widget-heading" data-id="5c077b5" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h4 class="elementor-heading-title elementor-size-default">Our Growing Team of Professionals?</h4>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-2b35690 elementor-align-center elementor-widget elementor-widget-button" data-id="2b35690" data-element_type="widget" data-widget_type="button.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-button-wrapper">
                                    <a href="https://workforcenow.adp.com/mascsr/default/mdf/recruitment/recruitment.html?cid=a59d88e8-87a7-42c3-83ac-2de2200aefd4&#038;ccId=165919794_8471&#038;type=MP&#038;lang=en_US" target="_blank" rel="nofollow" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                        <span class="elementor-button-content-wrapper">
                                            <span class="elementor-button-text">Apply Now</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </section>

          <section class="elementor-section elementor-top-section elementor-element elementor-element-ab1308d elementor-hidden-desktop elementor-hidden-tablet elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ab1308d" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-container elementor-column-gap-default" style="width:100% !important; height:100% !important">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-881ac99" data-id="881ac99" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-932f116 elementor-widget elementor-widget-heading" data-id="932f116" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <p class="elementor-heading-title elementor-size-default">
                                    <a href="https://ctleng.com/" target="_blank" rel="nofollow">
                                        <div [innerHTML]="address1 && address1.company_title"></div></a>
                                </p>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-8b213f2 elementor-widget elementor-widget-image" data-id="8b213f2" data-element_type="widget" data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-image">
                                    <a href="https://ctleng.com" target="_blank">
                                        <img width="246" height="126" alt="CTL Engineering, Inc Logo" decoding="async" data-src="/assets/images/ctl-engineering-logo.png" class="attachment-medium size-medium lazyload" src="/assets/images/ctl-engineering-logo.png"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-9923370 elementor-widget elementor-widget-image" data-id="9923370" data-element_type="widget" data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-image">
                                    <img width="1024" height="17" alt="ICS-Footer line" decoding="async" data-srcset="/assets/images/Footer-Line--1024x17.png 1024w, /assets/images/Footer-Line--300x5.png 300w, /assets/images/Footer-Line--768x13.png 768w, /assets/images/Footer-Line--1536x25.png 1536w, /assets/images/Footer-Line-.png 1593w" data-src="/assets/images/Footer-Line--1024x17.png" data-sizes="(max-width: 1024px) 100vw, 1024px" class="attachment-large size-large lazyload" src="/assets/images/Footer-Line--1024x17.png"/>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-c215d9a elementor-widget elementor-widget-heading" data-id="c215d9a" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <p class="elementor-heading-title elementor-size-default">© 2021 ICS, all rights reserved. </p>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-cfd4a1c elementor-widget elementor-widget-image" data-id="cfd4a1c" data-element_type="widget" data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-image">
                                    <a href="https://www.marchingantsglobal.com" target="_blank">
                                        <img width="300" height="208" alt="Marching Ants" decoding="async" data-srcset="/assets/images/MA-LOGO-300x208.png 300w, /assets/images/ma-logo.png 500w" data-src="/assets/images/MA-LOGO-300x208.png" data-sizes="(max-width: 300px) 100vw, 300px" class="attachment-medium size-medium lazyload" src="/assets/images/MA-LOGO-300x208.png"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </section>

      </ng-container>
      

      <section class="elementor-section elementor-top-section elementor-element elementor-element-dff7630 elementor-section-full_width elementor-hidden-phone elementor-section-height-default elementor-section-height-default" data-id="dff7630" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
          <div class="elementor-container elementor-column-gap-no">
            <div class="elementor-row">
              <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b485f99" data-id="b485f99" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                  <div class="elementor-widget-wrap">
                      <div class="elementor-element elementor-element-4310385 elementor-widget elementor-widget-shortcode" data-id="4310385" data-element_type="widget" data-widget_type="shortcode.default">
                        <div class="elementor-widget-container">
                          <div class="elementor-shortcode">		
                            <div data-elementor-type="section" data-elementor-id="1791" class="elementor elementor-1791 elementor-location-footer" data-elementor-settings="[]">
                              <div class="elementor-section-wrap">
                                <section class="elementor-section elementor-top-section elementor-element elementor-element-c3890c3 elementor-section-full_width elementor-section-height-min-height elementor-section-height-default elementor-section-items-middle" data-id="c3890c3" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                      <div class="elementor-container elementor-column-gap-no">
                                        <div class="elementor-row">
                                          <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0d5cf7f" data-id="0d5cf7f" data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                  <div class="elementor-element elementor-element-aa1c36c elementor-widget elementor-widget-html" data-id="aa1c36c" data-element_type="widget" data-widget_type="html.default">
                                                    <div class="elementor-widget-container">
                                                      <div [ngClass]="{'footer-bottom': !currentPath.includes('contact')}">
                                                            <div class="footer-left">
                                                                <p>@ 2021 <a href="/">ICS</a>, ALL RIGHTS RESERVED. <span>|</span> 
                                                                  <a href="{{footMenus[0] && footMenus[0].url}}" style="text-transform: uppercase;">
                                                                    {{footMenus[0] && footMenus[0].title}}&nbsp;</a> <span>|</span> 
                                                                  <a href="{{footMenus[1] && footMenus[1].url}}" style="text-transform: uppercase;">
                                                                   {{footMenus[1] && footMenus[1].title}}&nbsp;</a> <span>|</span> 
                                                                  <a href="{{footMenus[2] && footMenus[2].url}}" style="text-transform: uppercase;">
                                                                    {{footMenus[2] && footMenus[2].title}}&nbsp;</a><span>|</span>
                                                                  <a href="{{footMenus[3] && footMenus[3].url}}" style="text-transform: uppercase;">
                                                                    {{footMenus[3] && footMenus[3].title}}&nbsp;</a>
                                                                  <a href="https://www.facebook.com/Industrial-Communication-and-Sound-109989477958152" class="fa fa-facebook" target="_blank" style="padding: 13px;
                                                                  font-size: 15px;
                                                                  width: 41px;
                                                                  text-align: center;
                                                                  text-decoration: none;
                                                                  margin: 0px;
                                                                  border-radius: 50%;
                                                                  margin-right:5px"></a>
                                                                  <a href="https://www.linkedin.com/in/industrial-communication-and-sound/" class="fa fa-linkedin" target="_blank" style="padding: 13px;
                                                                  font-size: 15px;
                                                                  width: 41px;
                                                                  text-align: center;
                                                                  text-decoration: none;
                                                                  margin: 0px;
                                                                  border-radius: 50%;
                                                                  margin-right:5px"></a>
                                                                  <a href="https://twitter.com/IcandsOfficial" class="fa fa-twitter" target="_blank" style="padding: 13px;
                                                                  font-size: 15px;
                                                                  width: 41px;
                                                                  text-align: center;
                                                                  text-decoration: none;
                                                                  margin: 0px;
                                                                  border-radius: 50%;"></a>
                                                                </p>
                                                            </div>
                                                            <div class="footer-right">
                                                                <p>
                                                                    <a href="https://www.marchingantsglobal.com" target="_blank"><img src="/assets/images/ma-logo.png" alt="img"></a>
                                                                </p>
                                                                <div class="footer-hover-content"> Made with <i class="fa fa-heart" aria-hidden="true"></i> in India | Designed & Developed by
                                                                  <a href="https://www.marchingantsglobal.com" target="_blank">&nbsp;Marching Ants</a>
                                                                  <div class="walking-ants-container">
                                                                      <span id="walking-ant-1" class="walking-ant"></span>
                                                                      <span id="walking-ant-2" class="walking-ant"></span>
                                                                      <span id="walking-ant-3" class="walking-ant"></span>
                                                                      <span id="walking-ant-4" class="walking-ant"></span>
                                                                      <span id="walking-ant-5" class="walking-ant"></span> 
                                                                  </div>
                                                                </div>
                                                            </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </section>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </section>

      <ng-container *ngIf=" currentPath.includes('contact')" >
<!--Mobile Reactive-->
      <section class="elementor-section elementor-top-section elementor-element elementor-element-8f21420 elementor-hidden-desktop elementor-hidden-tablet elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="8f21420" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-row">
            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3abf68d" data-id="3abf68d" data-element_type="column">
              <div class="elementor-column-wrap elementor-element-populated">
                <div class="elementor-widget-wrap">
                  <div class="elementor-element elementor-element-8c7e612 elementor-widget elementor-widget-text-editor" data-id="8c7e612" data-element_type="widget" data-widget_type="text-editor.default">
                    <div class="elementor-widget-container">
                      <div class="elementor-text-editor elementor-clearfix">
                        <p>© 2020 ICS, ALL RIGHTS RESERVED.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-23b6372" data-id="23b6372" data-element_type="column">
              <div class="elementor-column-wrap elementor-element-populated">
                <div class="elementor-widget-wrap">
                  <div class="elementor-element elementor-element-4734bac elementor-widget elementor-widget-image" data-id="4734bac" data-element_type="widget" data-widget_type="image.default">
                    <div class="elementor-widget-container">
                      <div class="elementor-image">
                        <a href="https://marchingantsglobal.com/">
                          <img width="500" height="346" src="/assets/images/MA-LOGO-300x208.png" class="attachment-large size-large" alt="Marching Ants" loading="lazy" srcset="/assets/images/MA-LOGO-300x208.png 500w, /assets/images/MA-LOGO-300x208.png 300w" sizes="(max-width: 500px) 100vw, 500px" />
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      </ng-container>

<!--Mobile Reactive-->  
    </div>
</div>