

<div class="entry-content clear" itemprop="text">
  <div data-elementor-type="wp-page" data-elementor-id="17" class="elementor elementor-17" data-elementor-settings="[]">
    <div class="elementor-inner">
      <div class="elementor-section-wrap">

       
        <section class="elementor-section elementor-top-section elementor-element elementor-element-3985233 elementor-section-full_width elementor-hidden-phone elementor-section-height-default elementor-section-height-default" data-id="3985233" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
          <div class="elementor-container elementor-column-gap-no">
            <div class="elementor-row">
              <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-cfe6c9b" data-id="cfe6c9b" data-element_type="column">
                <div class="elementor-column-wrap">
                  <div class="elementor-widget-wrap"></div>
                </div>
              </div>
              <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-825a88e" data-id="825a88e" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-0a8eada elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="0a8eada" data-element_type="section">
                      <div class="elementor-container elementor-column-gap-no">
                        <div class="elementor-row">
                          <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-8e14477" data-id="8e14477" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                              <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-9d0d033 elementor-widget elementor-widget-menu-anchor" data-id="9d0d033" data-element_type="widget" data-widget_type="menu-anchor.default">
                                  <div class="elementor-widget-container">
                                    <div id="scroller" class="elementor-menu-anchor"></div>
                                  </div>
                                </div>
                                <div class="elementor-element elementor-element-bb7e5a1 elementor-widget elementor-widget-heading" data-id="bb7e5a1" data-element_type="widget" data-widget_type="heading.default">
                                  <div class="elementor-widget-container" >
                                    <div class="elementor-heading-title elementor-size-default story-title">{{services && services.title}}</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-38ef8d1" data-id="38ef8d1" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                              <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-803e876 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="803e876" data-element_type="widget" data-widget_type="divider.default">
                                  <div class="elementor-widget-container">
                                    <div class="elementor-divider">
                                      <span class="elementor-divider-separator"></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                    <div class="elementor-element elementor-element-7915e04 elementor-widget elementor-widget-heading" data-id="7915e04" data-element_type="widget" data-widget_type="heading.default">
                      <div class="elementor-widget-container">
                          <h2 class="elementor-heading-title elementor-size-default" [innerHTML]="services && services.subject"></h2>
                      </div>
                    </div>
                    <div class="elementor-element elementor-element-70bde34 elementor-widget elementor-widget-text-editor" data-id="70bde34" data-element_type="widget" data-widget_type="text-editor.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-text-editor elementor-clearfix">
                          <div [innerHTML]="services && services.summary"></div>
                         
                        </div>
                      </div>
                    </div>
                    <div class="elementor-element elementor-element-3d16590 elementor-widget elementor-widget-image" data-id="3d16590" data-element_type="widget" data-widget_type="image.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-image">
                          <img width="382" height="96" src="/assets/images/ics-member-of-avixa.png" class="attachment-large size-large" alt="ICS | A Member of the AVIXA Regulatory Body" loading="lazy" srcset="/assets/images/ics-member-of-avixa.png 382w, /assets/images/ics-member-of-avixa-300x75.png 300w" sizes="(max-width: 382px) 100vw, 382px" />
                        </div>
                      </div>
                    </div>
                    <div class="elementor-element elementor-element-ac2f1f8 elementor-widget elementor-widget-button" data-id="ac2f1f8" data-element_type="widget" alt="Read More About Industrial Communication &amp;Sound (ICS)" data-widget_type="button.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-button-wrapper">
                          <a href="/about-us/" title="Read More About Industrial Communication &amp;Sound (ICS)" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                            <span class="elementor-button-content-wrapper">
                              <span class="elementor-button-text">Read More</span>
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-8300d03" data-id="8300d03" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div class="elementor-element elementor-element-d8b6781 elementor-hidden-desktop elementor-hidden-phone elementor-widget elementor-widget-image" data-id="d8b6781" data-element_type="widget" data-widget_type="image.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-image">
                          <img width="797" height="340" src="/assets/images/ics-commercial-audio-visual-solutions-company.png" class="attachment-large size-large" alt="ICS | A Commercial Audio-Visual Solutions Company" loading="lazy" srcset="/assets/images/ics-commercial-audio-visual-solutions-company.png 797w, /assets/images/ics-commercial-audio-visual-solutions-company-300x128.png 300w, /assets/images/ics-commercial-audio-visual-solutions-company-768x328.png 768w" sizes="(max-width: 797px) 100vw, 797px" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-02ccbd3" data-id="02ccbd3" data-element_type="column">
                <div class="elementor-column-wrap">
                  <div class="elementor-widget-wrap"></div>
                </div>
              </div>
            </div>
          </div>
        </section>
     
        <!---start mobile reactive-->
        <section class="elementor-section elementor-top-section elementor-element elementor-element-d480b9a elementor-hidden-desktop elementor-hidden-tablet elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="d480b9a" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-07282dc" data-id="07282dc" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-7df682f elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7df682f" data-element_type="section">
                      <div class="elementor-container elementor-column-gap-no">
                        <div class="elementor-row">
                          <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-4102fa1" data-id="4102fa1" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                              <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-680871e elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="680871e" data-element_type="widget" data-widget_type="divider.default">
                                  <div class="elementor-widget-container">
                                    <div class="elementor-divider">
                                      <span class="elementor-divider-separator"></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-3e33dc9" data-id="3e33dc9" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                              <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-2c2066a elementor-widget elementor-widget-heading" data-id="2c2066a" data-element_type="widget" data-widget_type="heading.default">
                                  <div class="elementor-widget-container">
                                    <h4 class="elementor-heading-title elementor-size-default">{{services && services.title}}</h4>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-36320ba" data-id="36320ba" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                              <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-698f94d elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="698f94d" data-element_type="widget" data-widget_type="divider.default">
                                  <div class="elementor-widget-container">
                                    <div class="elementor-divider">
                                      <span class="elementor-divider-separator"></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                    <div class="elementor-element elementor-element-3a37eb1 elementor-widget elementor-widget-heading" data-id="3a37eb1" data-element_type="widget" data-widget_type="heading.default">
                      <div class="elementor-widget-container">
                        <h2 class="elementor-heading-title elementor-size-default" [innerHTML]="services && services.mobile_subject">
                        </h2>
                      </div>
                    </div>
                    <div class="elementor-element elementor-element-2596974 elementor-widget elementor-widget-image" data-id="2596974" data-element_type="widget" data-widget_type="image.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-image">
                          <img width="1024" height="432" src="{{services && services.images[0].img}}" class="attachment-large size-large" alt="A Commercial Audio-Visual Solutions Company" loading="lazy" srcset="{{services && services.images[0].img}} 1024w, {{services && services.images[0].img}} 300w, {{services && services.images[0].img}} 768w, {{services && services.images[0].img}} 1200w" sizes="(max-width: 1024px) 100vw, 1024px" data-xblocker="passed" style="visibility: visible;">
                        </div>
                      </div>
                    </div>
                    <div class="elementor-element elementor-element-31fcadb elementor-widget elementor-widget-text-editor" data-id="31fcadb" data-element_type="widget" data-widget_type="text-editor.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-text-editor elementor-clearfix" [innerHTML]="services && services.summary">
                         
                        </div>
                      </div>
                    </div>
                    <div class="elementor-element elementor-element-6b7d0f2 elementor-widget elementor-widget-image" data-id="6b7d0f2" data-element_type="widget" data-widget_type="image.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-image">
                          <img width="382" height="96" src="/assets/images/ics-member-of-avixa.png" class="attachment-large size-large" alt="ics-member-of-avixa" loading="lazy" srcset="/assets/images/ics-member-of-avixa.png, /assets/images/ics-member-of-avixa.png 300w" sizes="(max-width: 382px) 100vw, 382px" data-xblocker="passed" style="visibility: visible;">
                        </div>
                      </div>
                    </div>
                    <div class="elementor-element elementor-element-73fe608 elementor-mobile-align-center elementor-widget elementor-widget-button" data-id="73fe608" data-element_type="widget" data-widget_type="button.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-button-wrapper">
                          <a href="/about-us/" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                            <span class="elementor-button-content-wrapper">
                              <span class="elementor-button-text">Read More</span>
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!---end mobile reactive-->


      </div>
    </div>
  </div>
</div>
