


<link rel='stylesheet' id='theplus-front-css-css' href='/assets/css/theplus-post-167.min.css?ver=1620373758' media='all' />
<link rel='stylesheet' id='elementor-post-167-css' href='/assets/css/post-167.css?ver=1620373758' media='all' />
<link rel='stylesheet' id='elementor-post-1948-css' href='/assets/css/post-1948.css?ver=1616598243' media='all' />
<link rel='stylesheet' id='elementor-post-1929-css' href='/assets/css/post-1929.css?ver=1616598243' media='all' />
<link rel='stylesheet' id='elementor-post-1959-css' href='/assets/css/post-1959.css?ver=1616598243' media='all' />
<link rel='stylesheet' id='elementor-post-1975-css' href='/assets/css/post-1975.css?ver=1616598243' media='all' />
<link rel='stylesheet' id='elementor-post-1982-css' href='/assets/css/post-1982.css?ver=1616598243' media='all' />
<link rel='stylesheet' id='elementor-post-5172-css' href='/assets/css/post-5172.css?ver=1616598244' media='all' />



  <a class="skip-link screen-reader-text" href="#content" role="link" title="Skip to content"> Skip to content</a>

  <div class="hfeed site" id="page">
    <div data-elementor-type="header" data-elementor-id="34" class="elementor elementor-34 elementor-location-header" data-elementor-settings="[]">
     
    </div>
    <div id="content" class="site-content">
      <div class="ast-container">
        <div id="primary" class="content-area primary">
          <main id="main" class="site-main">
            <article class="post-167 page type-page status-publish ast-article-single" id="post-167" itemtype="https://schema.org/CreativeWork" itemscope="itemscope">
              <header class="entry-header ast-header-without-markup"></header>
              <!-- .entry-header -->
              <div id="scroll" class="entry-content clear" itemprop="text">
                <div data-elementor-type="wp-page" data-elementor-id="167" class="elementor elementor-167" data-elementor-settings="[]">
                  <div class="elementor-inner">
                    <div class="elementor-section-wrap">
                     
                      <div class="elementor-element elementor-element-4652aa0 elementor-widget elementor-widget-menu-anchor" data-id="4652aa0" data-element_type="widget" data-widget_type="menu-anchor.default">
                        <div class="elementor-widget-container">
                          <div  class="elementor-menu-anchor"></div>
                        </div>
                      </div>
                      <app-about  expressBtn="none" [services]="services"></app-about>
                      <app-team ></app-team>                    
                    
                      <section class="elementor-section elementor-top-section elementor-element elementor-element-92484a3 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="92484a3" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                        <div class="elementor-container elementor-column-gap-no">
                          <div class="elementor-row">
                            <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-6d1a9dc" data-id="6d1a9dc" data-element_type="column">
                              <div class="elementor-column-wrap">
                                <div class="elementor-widget-wrap"></div>
                              </div>
                            </div>
                            <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-4b4ae76" data-id="4b4ae76" data-element_type="column">
                              <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                  <section class="elementor-section elementor-inner-section elementor-element elementor-element-f57ecda elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="f57ecda" data-element_type="section">
                                    <div class="elementor-container elementor-column-gap-no">
                                      <div class="elementor-row">
                                        <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-3ea7fd0" data-id="3ea7fd0" data-element_type="column">
                                          <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                              <div class="elementor-element elementor-element-5b42972 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="5b42972" data-element_type="widget" data-widget_type="divider.default">
                                                <div class="elementor-widget-container">
                                                  <div class="elementor-divider">
                                                    <span class="elementor-divider-separator"></span>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-befaf1b" data-id="befaf1b" data-element_type="column">
                                          <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                              <div class="elementor-element elementor-element-d080386 elementor-widget elementor-widget-heading" data-id="d080386" data-element_type="widget" data-widget_type="heading.default">
                                                <div class="elementor-widget-container">
                                                  <h4 class="elementor-heading-title elementor-size-default">View Our</h4>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-9e1789e" data-id="9e1789e" data-element_type="column">
                                          <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                              <div class="elementor-element elementor-element-e2ef855 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="e2ef855" data-element_type="widget" data-widget_type="divider.default">
                                                <div class="elementor-widget-container">
                                                  <div class="elementor-divider">
                                                    <span class="elementor-divider-separator"></span>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </section>
                                  <div class="elementor-element elementor-element-83d699f elementor-widget elementor-widget-heading" data-id="83d699f" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                      <h2 class="elementor-heading-title elementor-size-default">
                                        <span style="color: #E32F23;">Employee Stock</span> Ownership Program
                                      </h2>
                                    </div>
                                  </div>
                                  <div class="elementor-element elementor-element-0ecab5c elementor-widget elementor-widget-image" data-id="0ecab5c" data-element_type="widget" data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                      <div class="elementor-image">
                                        <img width="1024" height="512" src="/assets/images/employee-stock-ownership-program.png" class="attachment-large size-large" alt="ICS | Employee Stock Ownership Program (ESOPs)" loading="lazy" srcset="/assets/images/employee-stock-ownership-program.png 1024w, /assets/images/employee-stock-ownership-program.png 300w, /assets/images/employee-stock-ownership-program.png 768w" sizes="(max-width: 1024px) 100vw, 1024px" />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-b6a9ed8" data-id="b6a9ed8" data-element_type="column">
                              <div class="elementor-column-wrap">
                                <div class="elementor-widget-wrap"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>

                     <app-product [products]="products"></app-product>
                     
                    </div>
                  </div>
                </div>
              </div>
              <!-- .entry-content .clear -->
            </article>
            <!-- #post-## -->
          </main>
          <!-- #main -->
        </div>
        <!-- #primary -->
      </div>
      <!-- ast-container -->
    </div>
    <!-- #content -->
    <app-homejoin></app-homejoin>
  </div>
  <!-- #page -->
  
  
  
 
  <app-common></app-common>
 


  