




<link rel='stylesheet' id='preloader-plus-css' href='/assets/css/preloader-plus.min.css?ver=2.2.1' media='all' /> 
 
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
  <defs>
    <filter id="wp-duotone-dark-grayscale">
      <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
      <feComponentTransfer color-interpolation-filters="sRGB">
        <feFuncR type="table" tableValues="0 0.49803921568627" />
        <feFuncG type="table" tableValues="0 0.49803921568627" />
        <feFuncB type="table" tableValues="0 0.49803921568627" />
        <feFuncA type="table" tableValues="1 1" />
      </feComponentTransfer>
      <feComposite in2="SourceGraphic" operator="in" />
    </filter>
  </defs>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
  <defs>
    <filter id="wp-duotone-grayscale">
      <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
      <feComponentTransfer color-interpolation-filters="sRGB">
        <feFuncR type="table" tableValues="0 1" />
        <feFuncG type="table" tableValues="0 1" />
        <feFuncB type="table" tableValues="0 1" />
        <feFuncA type="table" tableValues="1 1" />
      </feComponentTransfer>
      <feComposite in2="SourceGraphic" operator="in" />
    </filter>
  </defs>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
  <defs>
    <filter id="wp-duotone-purple-yellow">
      <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
      <feComponentTransfer color-interpolation-filters="sRGB">
        <feFuncR type="table" tableValues="0.54901960784314 0.98823529411765" />
        <feFuncG type="table" tableValues="0 1" />
        <feFuncB type="table" tableValues="0.71764705882353 0.25490196078431" />
        <feFuncA type="table" tableValues="1 1" />
      </feComponentTransfer>
      <feComposite in2="SourceGraphic" operator="in" />
    </filter>
  </defs>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
  <defs>
    <filter id="wp-duotone-blue-red">
      <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
      <feComponentTransfer color-interpolation-filters="sRGB">
        <feFuncR type="table" tableValues="0 1" />
        <feFuncG type="table" tableValues="0 0.27843137254902" />
        <feFuncB type="table" tableValues="0.5921568627451 0.27843137254902" />
        <feFuncA type="table" tableValues="1 1" />
      </feComponentTransfer>
      <feComposite in2="SourceGraphic" operator="in" />
    </filter>
  </defs>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
  <defs>
    <filter id="wp-duotone-midnight">
      <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
      <feComponentTransfer color-interpolation-filters="sRGB">
        <feFuncR type="table" tableValues="0 0" />
        <feFuncG type="table" tableValues="0 0.64705882352941" />
        <feFuncB type="table" tableValues="0 1" />
        <feFuncA type="table" tableValues="1 1" />
      </feComponentTransfer>
      <feComposite in2="SourceGraphic" operator="in" />
    </filter>
  </defs>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
  <defs>
    <filter id="wp-duotone-magenta-yellow">
      <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
      <feComponentTransfer color-interpolation-filters="sRGB">
        <feFuncR type="table" tableValues="0.78039215686275 1" />
        <feFuncG type="table" tableValues="0 0.94901960784314" />
        <feFuncB type="table" tableValues="0.35294117647059 0.47058823529412" />
        <feFuncA type="table" tableValues="1 1" />
      </feComponentTransfer>
      <feComposite in2="SourceGraphic" operator="in" />
    </filter>
  </defs>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
  <defs>
    <filter id="wp-duotone-purple-green">
      <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
      <feComponentTransfer color-interpolation-filters="sRGB">
        <feFuncR type="table" tableValues="0.65098039215686 0.40392156862745" />
        <feFuncG type="table" tableValues="0 1" />
        <feFuncB type="table" tableValues="0.44705882352941 0.4" />
        <feFuncA type="table" tableValues="1 1" />
      </feComponentTransfer>
      <feComposite in2="SourceGraphic" operator="in" />
    </filter>
  </defs>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
  <defs>
    <filter id="wp-duotone-blue-orange">
      <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
      <feComponentTransfer color-interpolation-filters="sRGB">
        <feFuncR type="table" tableValues="0.098039215686275 1" />
        <feFuncG type="table" tableValues="0 0.66274509803922" />
        <feFuncB type="table" tableValues="0.84705882352941 0.41960784313725" />
        <feFuncA type="table" tableValues="1 1" />
      </feComponentTransfer>
      <feComposite in2="SourceGraphic" operator="in" />
    </filter>
  </defs>
</svg>

<a class="skip-link screen-reader-text" href="#content" role="link" title="Skip to content"> Skip to content</a>
    
<div class="hfeed site" id="page">
   
    <app-userheader ></app-userheader>
   
    <ng-template [ngIf]="currentPath == '/home'" [ngIfElse]="linkCommonLogo">
        <app-homelogo></app-homelogo>
    </ng-template>
    <ng-template #linkCommonLogo>
        <app-userlogo></app-userlogo>
    </ng-template>    
        <router-outlet ></router-outlet>    
    <app-userfooter></app-userfooter>
   
</div>
<a id="ast-scroll-top" title="Scroll Up the Industrial Communication &Sound (ICS)Official Website" class="ast-scroll-top-icon ast-scroll-to-top-right" >
  <span class="screen-reader-text">Scroll to Top</span>
</a>


<!-- <div class="preloader-plus"> 
  <div class="preloader-content"> 
    <div class="lds-css ng-scope">
      <div class="lds-rolling preloader-plus-default-icons">
        <div></div>
      </div>
    </div>
  </div>
</div> -->

