
.backgroundRed{
    background-image:url(/assets/images/003-01Background-.jpg)
}
.provide{
    color:#ffffff !important;
    padding:6em 0em 0em 5em !important;
    font-weight: normal !important;
    font-family: "Gilroy Medium", Sans-serif !important;
}
.gallery{
    color: #ffffff;
    font-size: '6.5vw ';
    margin-left: 5.5em;

}
.gallery-title{
    margin-top: 3em;
}

.gallery-slider{
    color: #ffffff;
    border: solid 0px #ffffff !important;
    border-width: 0 0px 0px 0 !important;
}
.ms-tabs .ms-thumb-frame{
    border: solid 0px !important;
}
.uppercase{
    text-transform: uppercase;
}
.ms-thumb-frame:after{
    border-top: 0.1rem solid #ffffff !important
}
.img-cursor{
    cursor:url(/assets/images/grab.png) !important
}