



<div class="entry-content clear" itemprop="text">
  <div data-elementor-type="wp-page" data-elementor-id="394" class="elementor elementor-394" data-elementor-settings="[]">
    <div class="elementor-inner">
      <div class="elementor-section-wrap">

            <section class="elementor-section elementor-top-section elementor-element elementor-element-163d407 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="163d407" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
              <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-row">
                  <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-2e353fd" data-id="2e353fd" data-element_type="column">
                    <div class="elementor-column-wrap">
                      <div class="elementor-widget-wrap"></div>
                    </div>
                  </div>
                  <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-e6eab7b" data-id="e6eab7b" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                    
                        <section class="elementor-section elementor-inner-section elementor-element elementor-element-6340175 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="6340175" data-element_type="section">
                          <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-row">
                              <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-b659c66" data-id="b659c66" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                  <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-d9c3b81 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="d9c3b81" data-element_type="widget" data-widget_type="divider.default">
                                      <div class="elementor-widget-container">
                                        <div class="elementor-divider">
                                          <span class="elementor-divider-separator"></span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-6803f80" data-id="6803f80" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                  <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-d702eec elementor-widget elementor-widget-heading" data-id="d702eec" data-element_type="widget" data-widget_type="heading.default">
                                      <div class="elementor-widget-container">
                                        <h4 class="elementor-heading-title elementor-size-default">Watch this Video</h4>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-c7fc0ef" data-id="c7fc0ef" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                  <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-4b8344b elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="4b8344b" data-element_type="widget" data-widget_type="divider.default">
                                      <div class="elementor-widget-container">
                                        <div class="elementor-divider">
                                          <span class="elementor-divider-separator"></span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                        <div class="elementor-element elementor-element-1fd6d52 elementor-widget elementor-widget-heading" data-id="1fd6d52" data-element_type="widget" data-widget_type="heading.default">
                          <div class="elementor-widget-container">
                            <h2 class="elementor-heading-title elementor-size-default">Crestron's <br>Control System </h2>
                          </div>
                        </div>
                        <div class="elementor-element elementor-element-4a7db71 elementor-aspect-ratio-169 elementor-widget elementor-widget-video" data-id="4a7db71" data-element_type="widget" data-settings="{&quot;video_type&quot;:&quot;vimeo&quot;,&quot;autoplay&quot;:&quot;yes&quot;,&quot;loop&quot;:&quot;yes&quot;,&quot;aspect_ratio&quot;:&quot;169&quot;}" data-widget_type="video.default">
                          <div class="video-player elementor-widget-container">
                            <div *ngIf="video" class="elementor-wrapper elementor-fit-aspect-ratio elementor-open-inline">
                              <!-- <iframe id="video-iframe" class="elementor-video-iframe" allowfullscreen title="vimeo Video Player" ></iframe>  -->
                              <video controls class="elementor-video-iframe" allowfullscreen [src]="'/video/'+video.media" type="video/mp4">
                              </video>
                            </div>
                          </div>
                        </div>
                       
                        <div class="elementor-element elementor-element-afbe574 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-phone elementor-aspect-ratio-169 elementor-widget elementor-widget-video" data-id="afbe574" data-element_type="widget" data-settings="{&quot;youtube_url&quot;:&quot;https:\/\/www.youtube.com\/watch?v=4caEWdbKMG4&quot;,&quot;show_image_overlay&quot;:&quot;yes&quot;,&quot;image_overlay&quot;:{&quot;url&quot;:&quot;https:\/\/icands.com\/wp-content\/uploads\/2020\/09\/003-watch-this-Video-.jpg&quot;,&quot;id&quot;:272},&quot;lightbox&quot;:&quot;yes&quot;,&quot;video_type&quot;:&quot;youtube&quot;,&quot;controls&quot;:&quot;yes&quot;,&quot;aspect_ratio&quot;:&quot;169&quot;}" data-widget_type="video.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-wrapper elementor-open-lightbox">
                              <div class="elementor-custom-embed-image-overlay" data-elementor-open-lightbox="yes" data-elementor-lightbox="{&quot;type&quot;:&quot;video&quot;,&quot;videoType&quot;:&quot;youtube&quot;,&quot;url&quot;:&quot;https:\/\/www.youtube.com\/embed\/4caEWdbKMG4?feature=oembed&amp;start&amp;end&amp;wmode=opaque&amp;loop=0&amp;controls=1&amp;mute=0&amp;rel=0&amp;modestbranding=0&quot;,&quot;modalOptions&quot;:{&quot;id&quot;:&quot;elementor-lightbox-afbe574&quot;,&quot;entranceAnimation&quot;:&quot;&quot;,&quot;entranceAnimation_tablet&quot;:&quot;&quot;,&quot;entranceAnimation_mobile&quot;:&quot;&quot;,&quot;videoAspectRatio&quot;:&quot;169&quot;}}">
                                <img width="1370" height="688" src="/assets/images/003-watch-this-Video-.jpg" class="attachment-full size-full" alt="" loading="lazy" srcset="/assets/images/003-watch-this-Video-.jpg 1370w, /assets/images/003-watch-this-Video--300x151.jpg 300w, /assets/images/003-watch-this-Video--1024x514.jpg 1024w, /assets/images/003-watch-this-Video--768x386.jpg 768w" sizes="(max-width: 1370px) 100vw, 1370px" />
                              </div>
                            </div>
                          </div>
                        </div>
                      
                    </div>
                  </div>
                  <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-52311f5" data-id="52311f5" data-element_type="column">
                    <div class="elementor-column-wrap">
                      <div class="elementor-widget-wrap"></div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
      </div>
    </div>
  </div>
</div>