
<div class="row section-control-panel" style="margin-top: 5px">
    <div class="col-lg12" class="action-panel">
        <button class="section_save_btn btn-primary" id={{dt_record.id}} mat-flat-button color="primary" (click)="_onClickSave($event)">Save</button>
        <button class="section_delete_btn btn-danger" mat-button mat-stroked-button color="warn" (click)="_onClickDelete($event)">Delete</button>
        <button class="section_create_btn custom-color-2" *ngIf="has_newBtn" mat-stroked-button color="primary" (click)="_onClickCreate($event)">Create</button>
    </div>
    <section>
        <mat-progress-bar class="ml5 {{progressbar_show}}" mode="determinate" [value]="cur_progress" bufferValue="100"></mat-progress-bar>
    </section>
</div>
<div class="row srvcontent_content">
    <div [ngClass]="solutionTextViewLayout(panel_layout_way)" >
        <app-single-description-editor 
            [title]="dt_record.title" 
            [subject]="dt_record.subject" 
            [mobile_subject]="dt_record.mobile_subject" 
            [summary]="dt_record.summary" 
            [s_no]="e_no"
            [media]="dt_record.media"  
            [gallery]="dt_record.gallery" 
            [show_subject]="true"
            [show_mobile_subject]="true"

            (updateSubjectEvent)="updateSubject($event)" 
            (updateMobileSubjectEvent)="updateMobileSubject($event)" 

            (updateSummaryEvent)="updateSummary($event)" 
            (updateTitleEvent)="updateTitle($event)"
            (updateMediaEvent)="updateMedia($event)" 
            (updateGalleryEvent)="updateGallery($event)"
            (updateFileEvent)="updateFile($event)" ></app-single-description-editor>
    </div>
    <div [ngClass]="solutionImageViewLayout(panel_layout_way)" >
        <div *ngFor="let dt_img of dt_record.images; index as i; let first = first; let last = last">
            <app-single-image-upload [img]="dt_img.img" [title]="dt_img.title" [s_no]="e_no" [e_no]="i" 
                (deleteImgEvent)="deleteImage($event)" (createImgEvent)="createImage($event)" 
                (updateImgTitleEvent)="updateImageTitle($event)" (updateImgEvent)="updateImage($event)"
                [must_hide_newBtn]="false" [has_newBtn]="last || (first && dt_record.length == 1)?true:false"></app-single-image-upload>
        </div>
    </div>
</div>