
<div class="main-content">
 
  <div class="container-fluid" style="padding-top: 5px">
    <mat-stepper class="demo-stepper" #stepper [selectedIndex]="this.selectedStepperIndex">
      <div *ngFor="let dt_record of dt_records; index as i; let first = first; let last = last">
        <mat-step [stepControl]="firstFormGroup" mat-step-icon>
            <ng-template matStepLabel>{{dt_record.firstName}}</ng-template>
            <app-team-member [url]="url" [dt_record]="dt_record" [e_no]="i" (createSectionEvent)="createSection($event)" [dt_records]="dt_records"
                    (deleteSectionEvent)="deleteSection($event)" (saveSectionEvent)="saveSection($event)" [has_newBtn]="last?true:true"></app-team-member>
        </mat-step>
      </div>
    </mat-stepper>