
.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
    background: bisque;
    color: brown;
    margin-left: 10px;
}
.card {
    border: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 6px;
    color: #333333;
    background: #fff;
    width: 100%;
}
.card .card-body + .card-footer, .card .card-footer {
    padding: 0;
    padding-top: 10px;
    margin: 0 15px 10px;
    border-radius: 0;
    justify-content: center;
    align-items: center;
}
.card [class*=card-header-] .card-icon, .card [class*=card-header-] .card-text {
    border-radius: 3px;
    background-color: #999999;
    padding: 15px;
    margin-top: -30px;
    margin-right: 15px;
    float: left;
}
.form-control, .is-focused .form-control {
    background-image: linear-gradient(to top, #f7c68f00 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}
.mt10 {
    margin-top: 10px !important;
}
.mt30 {
    margin-top: 30px !important;
}
.mb10 {
    margin-bottom: 10px !important;
}
.center {
    text-align: center;
}
.demo-stepper {
    background-color: #ececec !important;
    border-radius: 5px;
}

.mat-horizontal-stepper-header-container {
    background-color: #44a37a !important;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 50px;
}